Repository iotaledger/entangled, pull requests merged in 2018-08, with the labels that each got.

#84 Receiver component
  ciri/BUILD
  ciri/node.c
  common/network/BUILD
  common/network/components/BUILD
  common/network/components/broadcaster.h
  common/network/components/processor.c
  common/network/components/processor.h
  common/network/components/receiver.c
  common/network/components/receiver.h
  common/network/components/requester.h
  common/network/components/responder.h
  common/network/endpoint.h
  common/network/iota_packet.h
  common/network/network.h
  common/network/queues/BUILD
  common/network/queues/concurrent_queue_packet.c
  common/network/queues/concurrent_queue_packet.h
  common/network/services/BUILD
  common/network/services/receiver.cc
  common/network/services/receiver.h
  common/network/services/tcp_receiver.cc
  common/network/services/tcp_receiver.hpp
  common/network/services/udp_receiver.cc
  common/network/services/udp_receiver.hpp
  common/network/socket.h
Labels: A-cIRI, P-high

#105 Read/write lock handle
  common/BUILD
  common/rw_lock_handle.h
Labels: A-common, P-low

#82 Generic list and neighbors
  common/network/BUILD
  common/network/endpoint.h
  common/network/lists/BUILD
  common/network/lists/concurrent_list.c.inc
  common/network/lists/concurrent_list.h.inc
  common/network/lists/concurrent_list_neighbor.c
  common/network/lists/concurrent_list_neighbor.h
  common/network/lists/test/BUILD
  common/network/lists/test/test_concurrent_list.c
  common/network/neighbor.c
  common/network/neighbor.h
  common/network/network.h
  common/network/queues/concurrent_queue.c.inc
  common/network/queues/concurrent_queue.h.inc
  common/network/queues/concurrent_queue_hash_request.c
  common/network/queues/concurrent_queue_hash_request.h
  common/network/queues/concurrent_queue_trit_array.c
  common/network/queues/concurrent_queue_trit_array.h
  common/network/queues/test/test_concurrent_queue.c
  common/network/uri_parser.c
  common/network/uri_parser.h
Labels: A-cIRI, P-medium

#121 Move containers to utils folder
  common/network/components/BUILD
  common/network/components/broadcaster.h
  common/network/components/processor.h
  common/network/components/requester.h
  common/network/components/responder.h
  common/network/queues/concurrent_queue_hash_request.c
  common/network/queues/concurrent_queue_trit_array.c
  common/network/services/BUILD
  common/network/services/receiver.h
  utils/containers/lists/BUILD
  utils/containers/lists/concurrent_list.c.inc
  utils/containers/lists/concurrent_list.h.inc
  utils/containers/lists/concurrent_list_neighbor.c
  utils/containers/lists/concurrent_list_neighbor.h
  utils/containers/lists/test/BUILD
  utils/containers/lists/test/test_concurrent_list.c
  utils/containers/queues/BUILD
  utils/containers/queues/concurrent_queue.c.inc
  utils/containers/queues/concurrent_queue.h.inc
  utils/containers/queues/concurrent_queue_hash_request.c
  utils/containers/queues/concurrent_queue_hash_request.h
  utils/containers/queues/concurrent_queue_packet.c
  utils/containers/queues/concurrent_queue_packet.h
  utils/containers/queues/concurrent_queue_trit_array.c
  utils/containers/queues/concurrent_queue_trit_array.h
  utils/containers/queues/test/BUILD
  utils/containers/queues/test/test_concurrent_queue.c
Labels: A-infra, P-low

#123 Move handles to utils folder
  common/BUILD
  common/logger_helper.c
  common/network/BUILD
  common/network/components/BUILD
  common/network/components/broadcaster.h
  common/network/components/processor.h
  common/network/components/responder.h
  common/network/logger.c
  common/network/services/receiver.h
  utils/containers/lists/BUILD
  utils/containers/lists/concurrent_list.h.inc
  utils/containers/queues/BUILD
  utils/containers/queues/concurrent_queue.h.inc
  utils/handles/BUILD
  utils/handles/cond.h
  utils/handles/lock.h
  utils/handles/rw_lock.h
  utils/handles/thread.h
Labels: A-infra, P-low

#117 Broadcaster component
  ciri/BUILD
  ciri/main.c
  ciri/node.c
  ciri/node.h
  common/network/BUILD
  common/network/components/BUILD
  common/network/components/broadcaster.c
  common/network/components/processor.c
  common/network/components/receiver.c
  common/network/endpoint.h
  common/network/neighbor.c
  common/network/neighbor.h
  common/network/services/BUILD
  common/network/services/receiver.h
  common/network/services/tcp_receiver.cc
  common/network/services/tcp_receiver.hpp
  common/network/services/tcp_sender.cc
  common/network/services/tcp_sender.hpp
  common/network/services/udp_receiver.cc
  common/network/services/udp_sender.cc
  common/network/services/udp_sender.hpp
  utils/containers/lists/concurrent_list.c.inc
  utils/containers/lists/concurrent_list.h.inc
  utils/containers/lists/concurrent_list_neighbor.c
  utils/containers/lists/concurrent_list_neighbor.h
  utils/containers/lists/test/test_concurrent_list.c
  utils/containers/queues/concurrent_queue.c.inc
  utils/containers/queues/concurrent_queue.h.inc
Labels: A-cIRI, P-medium

#127 Logger facility
  ciri/BUILD
  ciri/main.c
  ciri/node.c
  common/BUILD
  common/network/BUILD
  common/network/components/BUILD
  common/network/components/broadcaster.c
  common/network/components/processor.c
  common/network/components/receiver.c
  common/network/components/requester.c
  common/network/components/responder.c
  common/network/logger.c
  common/network/logger.h
  common/network/neighbor.c
  common/network/services/BUILD
  common/network/services/receiver.cc
  common/network/services/tcp_receiver.cc
  common/network/services/tcp_receiver.hpp
  common/network/services/tcp_sender.cc
  common/network/services/udp_receiver.cc
  common/network/services/udp_receiver.hpp
  common/network/services/udp_sender.cc
  common/storage/BUILD
  common/storage/sql/BUILD
  common/storage/sql/sqlite3/connection.c
  common/storage/sql/sqlite3/storage.c
  common/storage/sql/statements.c
  utils/BUILD
  utils/logger_helper.c
  utils/logger_helper.h
Labels: A-common, P-medium

#116 tools/cpplint: filter out runtime/references
  tools/cpplint
Labels: A-infra, P-low

#137 Store transaction hash
  common/helpers/digest.c
  common/model/BUILD
  common/model/tests/test_transaction.c
  common/model/transaction.c
  common/model/transaction.h
  common/model/tryte_transaction.cc
  common/model/tryte_transaction.h
  common/storage/connection.h
  common/storage/sql/defs.h
  common/storage/sql/schema.sql
  common/storage/sql/sqlite3/connection.c
  common/storage/sql/sqlite3/storage.c
  common/storage/sql/sqlite3/tests/test_sqlite3.c
  common/storage/sql/statements.c
  common/storage/tests/helpers/defs.h
Labels: A-common, P-high

#134 Requester component & core structure
  .gitignore
  ciri/BUILD
  ciri/core.c
  ciri/core.h
  ciri/main.c
  ciri/node.c
  ciri/node.h
  common/errors.h
  common/network/components/BUILD
  common/network/components/broadcaster.c
  common/network/components/processor.c
  common/network/components/receiver.c
  common/network/components/receiver.h
  common/network/components/requester.c
  common/network/components/requester.h
  common/network/components/responder.c
  common/storage/sql/sqlite3/connection.c
  common/storage/sql/sqlite3/storage.c
  common/storage/sql/statements.c
  utils/containers/lists/BUILD
  utils/containers/lists/concurrent_list_trit_array.c
  utils/containers/lists/concurrent_list_trit_array.h
  utils/logger_helper.c
Labels: A-cIRI, P-medium, S-blocked

#157 Neighbors return retcode_t
  common/errors.h
  common/network/BUILD
  common/network/neighbor.c
  common/network/neighbor.h
Labels: A-cIRI, P-low

#156 Processor component
  ciri/BUILD
  ciri/core.c
  ciri/main.c
  common/errors.h
  common/model/transaction.h
  common/network/BUILD
  common/network/components/BUILD
  common/network/components/broadcaster.c
  common/network/components/broadcaster.h
  common/network/components/processor.c
  common/network/components/receiver.c
  common/network/components/responder.c
  common/network/iota_packet.c
  common/network/iota_packet.h
  common/network/neighbor.c
  common/network/neighbor.h
  common/network/services/BUILD
  common/network/services/receiver.cc
  common/network/services/receiver.h
  common/network/services/tcp_receiver.cc
  common/network/services/tcp_sender.cc
  common/network/services/tcp_sender.hpp
  common/network/services/udp_receiver.cc
  common/network/services/udp_sender.cc
  common/network/services/udp_sender.hpp
  common/storage/sql/sqlite3/tests/test_sqlite3.c
  common/trinary/trit_array.c
  common/trinary/trit_array.h
  utils/containers/lists/BUILD
  utils/containers/lists/concurrent_list_neighbor.c
  utils/containers/lists/concurrent_list_neighbor.h
  utils/containers/queues/BUILD
  utils/system.h
Labels: A-cIRI, P-medium

#164 Containers convenient macros and harmonization
  ciri/node.c
  ciri/node.h
  common/network/components/broadcaster.c
  common/network/components/broadcaster.h
  common/network/components/processor.c
  common/network/components/processor.h
  common/network/components/requester.c
  common/network/components/requester.h
  common/network/components/responder.c
  common/network/components/responder.h
  common/network/services/receiver.h
  common/network/services/tcp_receiver.cc
  common/network/services/udp_receiver.cc
  utils/containers/lists/concurrent_list.c.inc
  utils/containers/lists/concurrent_list.h.inc
  utils/containers/lists/concurrent_list_neighbor.c
  utils/containers/lists/concurrent_list_neighbor.h
  utils/containers/lists/concurrent_list_trit_array.c
  utils/containers/lists/concurrent_list_trit_array.h
  utils/containers/lists/test/test_concurrent_list.c
  utils/containers/queues/concurrent_queue.c.inc
  utils/containers/queues/concurrent_queue.h.inc
  utils/containers/queues/concurrent_queue_hash_request.c
  utils/containers/queues/concurrent_queue_hash_request.h
  utils/containers/queues/concurrent_queue_packet.c
  utils/containers/queues/concurrent_queue_packet.h
  utils/containers/queues/concurrent_queue_trit_array.c
  utils/containers/queues/concurrent_queue_trit_array.h
  utils/containers/queues/test/test_concurrent_queue.c
Labels: A-common, P-low

#165 Fix compilation warnings
  cclient/iota_api.c
  common/storage/sql/sqlite3/storage.c
  common/storage/sql/sqlite3/tests/test_sqlite3.c
  utils/files.c
Labels: A-common, C-bug, P-low

#162 Responder component
  ciri/BUILD
  ciri/main.c
  common/model/transaction.c
  common/network/BUILD
  common/network/components/BUILD
  common/network/components/broadcaster.c
  common/network/components/processor.c
  common/network/components/responder.c
  common/network/components/responder.h
  common/network/iota_packet.c
  common/network/iota_packet.h
  common/network/neighbor.h
  common/network/transaction_request.h
  common/storage/BUILD
  common/trinary/trit_array.c
  common/trinary/trit_array.h
  utils/containers/queues/BUILD
  utils/containers/queues/concurrent_queue_hash_request.c
  utils/containers/queues/concurrent_queue_transaction_request.c
  utils/containers/queues/concurrent_queue_transaction_request.h
Labels: A-cIRI, P-medium

#189 Components retcode, logs and fixes
  ciri/node.c
  common/errors.h
  common/storage/connection.h
  common/storage/packs.c
  common/storage/packs.h
  common/storage/sql/sqlite3/connection.c
  gossip/components/broadcaster.c
  gossip/components/broadcaster.h
  gossip/components/processor.c
  gossip/components/processor.h
  gossip/components/receiver.c
  gossip/components/receiver.h
  gossip/components/requester.c
  gossip/components/requester.h
  gossip/components/responder.c
  gossip/components/responder.h
  gossip/neighbor.c
Labels: A-cIRI, P-low

#194 cIRI use tangle API
  ciri/BUILD
  ciri/core.c
  ciri/core.h
  gossip/components/processor.c
  gossip/components/requester.c
  gossip/components/responder.c
Labels: A-cIRI, P-low

#193 macOS consensus warning fixes
  common/storage/sql/defs.h
  common/storage/sql/sqlite3/storage.c
  common/storage/sql/statements.c
  consensus/cw_rating_calculator/cw_rating_calculator.c
  consensus/cw_rating_calculator/cw_rating_calculator.h
  consensus/cw_rating_calculator/cw_rating_dfs_impl.c
  consensus/cw_rating_calculator/cw_rating_dfs_impl.h
  consensus/cw_rating_calculator/tests/cw_rating_calculator.c
  consensus/entry_point_selector/entry_point_selector.c
  consensus/entry_point_selector/entry_point_selector.h
  consensus/ledger_validator/ledger_validator.c
  consensus/ledger_validator/ledger_validator.h
  consensus/milestone/milestone.h
  consensus/model.h
  consensus/snapshot/snapshot.h
  consensus/tangle/tangle.c
  consensus/tangle/tangle.h
  consensus/tipselection/tipselection.c
  consensus/tipselection/tipselection.h
  consensus/transaction_validator/transaction_validator.c
  consensus/transaction_validator/transaction_validator.h
  consensus/view_models/milestone.h
  consensus/walker/walker.c
  consensus/walker/walker.h
  consensus/walker_validator/walker_validator.c
  consensus/walker_validator/walker_validator.h
Labels: A-consensus, P-low

#211 Milestone database table and functions
  ciri/core.c
  common/model/BUILD
  common/model/milestone.h
  common/model/transaction.h
  common/storage/connection.h
  common/storage/pack.c
  common/storage/pack.h
  common/storage/packs.c
  common/storage/packs.h
  common/storage/sql/BUILD
  common/storage/sql/defs.h
  common/storage/sql/schema.sql
  common/storage/sql/sqlite3/BUILD
  common/storage/sql/sqlite3/connection.c
  common/storage/sql/sqlite3/storage.c
  common/storage/sql/sqlite3/tests/test_sqlite3.c
  common/storage/sql/statements.c
  common/storage/sql/statements.h
  common/storage/storage.h
  common/trinary/flex_trit.h
  consensus/cw_rating_calculator/cw_rating_calculator.c
  consensus/cw_rating_calculator/cw_rating_dfs_impl.c
  consensus/cw_rating_calculator/tests/cw_rating_calculator.c
  consensus/entry_point_selector/entry_point_selector.c
  consensus/ledger_validator/ledger_validator.c
  consensus/tangle/tangle.c
  consensus/tangle/tangle.h
  consensus/transaction_validator/transaction_validator.c
  consensus/walker_validator/walker_validator.c
  gossip/components/processor.c
  gossip/components/requester.c
  gossip/components/responder.c
Labels: A-cIRI, A-consensus, P-high

#212 Usage and command line arguments
  ciri/BUILD
  ciri/conf/BUILD
  ciri/conf/conf.c
  ciri/conf/conf.h
  ciri/conf/conf_default.h
  ciri/conf/conf_provider_getopt.c
  ciri/conf/config.h
  ciri/conf/config_args.h
  ciri/conf/config_default.h
  ciri/conf/getopt.c
  ciri/conf/provider.h
  ciri/conf/usage.c
  ciri/conf/usage.h
  ciri/core.h
  ciri/main.c
  ciri/node.c
  common/errors.h
Labels: A-cIRI, P-low

#209 Correctly protect the freed variables from access again
  cclient/request/find_transactions.c
  cclient/request/find_transactions.h
  cclient/response/find_transactions.c
  cclient/response/find_transactions.h
  cclient/serialization/tests/test_json.c
Labels: A-c-client, P-low
