Repository iotaledger/entangled, pull requests merged in 2018-06, with the labels that each got.

#11 Add PR template, labels, hooks
  .buckconfig
  .gitlab-ci.yml
  README.md
  WORKSPACE
  ccurl/BUILD
  common/BUILD
  common/curl-p/BUILD
  common/curl-p/tests/BUILD
  common/helpers/BUILD
  common/kerl/BUILD
  common/kerl/tests/BUILD
  common/model/BUILD
  common/model/tests/BUILD
  common/pow/BUILD
  common/sign/v1/BUILD
  common/sign/v1/tests/BUILD
  common/sign/v2/BUILD
  common/sign/v2/tests/BUILD
  common/stdint.h
  common/trinary/BUILD
  common/trinary/tests/BUILD
  cppclient/api.h
  cppclient/api_json.cc
  cppclient/api_json.h
  cppclient/beast.cc
  cppclient/beast.h
  cppclient/messages.h
  docs/README.md
  docs/labels.json
  docs/pull_request_template.md
  hooks/autohook.sh
  hooks/pre-commit/01-buildifier-check
  hooks/pre-commit/02-cpplint
  hooks/scripts/buildifier_check
  hooks/scripts/cpplint
  mobile/android/BUILD
  tanglescope/blowballcollector/BUILD
  tanglescope/collector/BUILD
  tanglescope/common/BUILD
  tanglescope/prometheus_collector/BUILD
  tools/buildifier
  tools/ci/build.sh
  tools/cpplint
  tools/cpplint.py
Labels: A-infra, C-enhancement, S-ready-for-review

#4 MAM
  .gitignore
  common/curl-p/curl_p.c
  common/sign/v1/iss.c.inc
  common/sign/v2/iss.c.inc
  common/sign/v2/iss.h.inc
  common/trinary/add.h
  common/trinary/tests/test_trit_long.c
  common/trinary/trit_long.c
  common/trinary/trit_long.h
  mam/v1/BUILD
  mam/v1/mam.c
  mam/v1/mam.h
  mam/v1/mask.c
  mam/v1/mask.h
  mam/v1/merkle.c
  mam/v1/merkle.h
  mam/v1/tests/BUILD
  mam/v1/tests/test_mam.c
  mam/v1/tests/test_mask.c
  mam/v1/tests/test_merkle.c
Labels: A-mam, P-medium

#33 Constness and warnings
  common/curl-p/bct.h
  common/curl-p/curl_p.c
  common/curl-p/curl_p_bct.c
  common/curl-p/curl_p_ptrit.c
  common/curl-p/curl_p_s.c
  common/curl-p/curl_p_s.h
  common/curl-p/digest.c
  common/curl-p/digest.h
  common/curl-p/hamming.c
  common/curl-p/hashcash.c
  common/curl-p/hashcash.h
  common/curl-p/pearl_diver.c
  common/curl-p/ptrit.h
  common/curl-p/search.h
  common/curl-p/trit.h
  common/helpers/checksum.c
  common/helpers/digest.c
  common/helpers/digest.h
  common/helpers/pow.c
  common/helpers/pow.h
  common/helpers/sign.c
  common/helpers/sign.h
  common/kerl/bigint.c
  common/kerl/bigint.h
  common/kerl/hash.c
  common/kerl/kerl.c
  common/kerl/kerl.h
  common/pow/pow.c
  common/pow/pow.h
  common/sign/v1/iss.c.inc
  common/sign/v1/iss.h.inc
  common/sign/v2/iss.c.inc
  common/sign/v2/iss.h.inc
  common/trinary/add.c
  common/trinary/add.h
  common/trinary/bct.c
  common/trinary/bct.h
  common/trinary/ptrit_incr.c
  common/trinary/ptrit_incr.h
  common/trinary/trit_array.c
  common/trinary/trit_array.h
  common/trinary/trit_byte.c
  common/trinary/trit_byte.h
  common/trinary/trit_long.c
  common/trinary/trit_long.h
  common/trinary/trit_ptrit.c
  common/trinary/trit_ptrit.h
  common/trinary/trit_tryte.c
  common/trinary/trit_tryte.h
  common/trinary/tryte_long.c
  common/trinary/tryte_long.h
Labels: A-common, C-cleanup, P-low

#8 CClient - headers and serialization vtable
  WORKSPACE
  cclient/BUILD
  cclient/iota_api.c
  cclient/iota_api.h
  cclient/request/BUILD
  cclient/request/add_neighbors.h
  cclient/request/attach_to_tangle.h
  cclient/request/broadcast_transactions.h
  cclient/request/find_transactions.h
  cclient/request/get_balances.h
  cclient/request/get_inclusion_state.h
  cclient/request/get_trytes.h
  cclient/request/remove_neighbors.h
  cclient/request/requests.h
  cclient/request/store_transactions.h
  cclient/response/BUILD
  cclient/response/find_transactions.h
  cclient/response/get_balances.h
  cclient/response/get_inclusion_state.h
  cclient/response/get_neighbors.h
  cclient/response/get_node_info.h
  cclient/response/get_tips.h
  cclient/response/get_transactions_to_approve.h
  cclient/response/get_trytes.h
  cclient/response/responses.h
  cclient/serialization/BUILD
  cclient/serialization/json/json_serializer.c
  cclient/serialization/json/json_serializer.h
  cclient/serialization/serializer.h
  cclient/service.h
  cclient/types/BUILD
  cclient/types/types.h
Labels: A-c-client, C-feature-accepted
