Repository iotaledger/entangled, pull requests merged in 2018-09, with the labels that each got.

#237 Adding neighbors from the command line
  ciri/core.c
  ciri/main.c
  ciri/node.c
  common/storage/sql/sqlite3/connection.c
  common/storage/sql/sqlite3/storage.c
Labels: A-cIRI

#259 Resolve UDP domain name
  common/errors.h
  common/network/endpoint.h
  gossip/components/receiver.c
  gossip/neighbor.c
  gossip/services/BUILD
  gossip/services/receiver.h
  gossip/services/tcp_receiver.cc
  gossip/services/tcp_sender.cc
  gossip/services/tcp_sender.hpp
  gossip/services/udp_receiver.cc
  gossip/services/udp_receiver.hpp
  gossip/services/udp_sender.cc
  gossip/services/udp_sender.hpp
  utils/containers/lists/concurrent_list_neighbor.c
Labels: A-cIRI, P-low

#268 Check `running` variable before stopping a component
  ciri/api/api.c
  ciri/core.c
  ciri/node.c
  gossip/components/broadcaster.c
  gossip/components/processor.c
  gossip/components/receiver.c
  gossip/components/requester.c
  gossip/components/responder.c
Labels: A-cIRI, P-low

#277 Cclient: removed iota_api_were_addresses_spent_from
  cclient/iota_api.c
  cclient/iota_api.h
  cclient/request/requests.h
  cclient/request/were_addresses_spent_from.h
  cclient/response/responses.h
  cclient/response/were_addresses_spent_from.h
  cclient/serialization/json/json_serializer.c
  cclient/serialization/json/json_serializer.h
  cclient/serialization/serializer.h
  cclient/serialization/tests/test_json.c
  cclient/serialization/tests/test_json.h
Labels: A-c-client

#278 Bundle normalization
  common/model/BUILD
  common/model/bundle.c
  common/model/bundle.h
  common/model/tests/BUILD
  common/model/tests/test_bundle.c
Labels: A-common

#279 Cclient: implemented iota_api_check_consistency
  cclient/iota_api.c
  cclient/iota_api.h
  cclient/request/check_consistency.c
  cclient/request/check_consistency.h
  cclient/request/requests.h
  cclient/request/store_transactions.c
  cclient/response/check_consistency.c
  cclient/response/check_consistency.h
  cclient/response/get_balances.c
  cclient/response/responses.h
  cclient/serialization/json/json_serializer.c
  cclient/serialization/json/json_serializer.h
  cclient/serialization/serializer.h
  cclient/serialization/tests/test_json.c
  cclient/serialization/tests/test_json.h
Labels: A-c-client

#264 Compress/decompress flex trits fields
  common/storage/sql/sqlite3/storage.c
Labels: A-cIRI, P-high

#275 Snapshot WIP
  ciri/BUILD
  ciri/ciri.db
  ciri/core.c
  ciri/core.h
  ciri/node.c
  common/errors.h
  common/trinary/BUILD
  common/trinary/tests/BUILD
  common/trinary/tests/test_tryte_ascii.c
  common/trinary/tryte_ascii.c
  common/trinary/tryte_ascii.h
  consensus/snapshot/snapshot.c
  consensus/snapshot/snapshot.h
  consensus/snapshot/tests/BUILD
  consensus/snapshot/tests/snapshot.txt
  consensus/snapshot/tests/snapshot_badly_formatted.txt
  consensus/snapshot/tests/snapshot_inconsistent.txt
  consensus/snapshot/tests/snapshot_invalid_supply.txt
  consensus/snapshot/tests/test_snapshot.c
  gossip/components/broadcaster.c
  utils/handles/BUILD
Labels: A-consensus

#304 bundle_validator: fix signature validation loop
  consensus/bundle_validator/bundle_validator.c
Labels: P-high, S-ready-for-review

#298 cclient: implemented flex_trit
  cclient/iota_api.c
  cclient/iota_api.h
  cclient/request/attach_to_tangle.c
  cclient/request/attach_to_tangle.h
  cclient/request/broadcast_transactions.c
  cclient/request/broadcast_transactions.h
  cclient/request/check_consistency.c
  cclient/request/check_consistency.h
  cclient/request/find_transactions.c
  cclient/request/find_transactions.h
  cclient/request/get_balances.c
  cclient/request/get_balances.h
  cclient/request/get_inclusion_state.c
  cclient/request/get_inclusion_state.h
  cclient/request/get_trytes.c
  cclient/request/get_trytes.h
  cclient/request/store_transactions.c
  cclient/request/store_transactions.h
  cclient/response/attach_to_tangle.c
  cclient/response/attach_to_tangle.h
  cclient/response/find_transactions.c
  cclient/response/find_transactions.h
  cclient/response/get_balances.c
  cclient/response/get_balances.h
  cclient/response/get_node_info.c
  cclient/response/get_node_info.h
  cclient/response/get_tips.c
  cclient/response/get_tips.h
  cclient/response/get_transactions_to_approve.c
  cclient/response/get_transactions_to_approve.h
  cclient/response/get_trytes.c
  cclient/response/get_trytes.h
  cclient/serialization/json/json_serializer.c
  cclient/serialization/json/json_serializer.h
  cclient/serialization/serializer.h
  cclient/serialization/tests/test_json.c
  cclient/types/BUILD
  cclient/types/types.c
  cclient/types/types.h
  common/error_strings.h
  common/errors.c
  common/errors.h
Labels: A-c-client, S-ready-for-review

#310 trinary: fix trit encoding 4
  common/trinary/flex_trit.c
Labels: A-common, P-high

#316 Fix PRIu64 interpretation
  common/storage/sql/sqlite3/storage.c
  consensus/cw_rating_calculator/cw_rating_dfs_impl.c
  consensus/exit_probability_randomizer/walker.c
  consensus/tangle/tangle.c
  consensus/tipselection/tipselection.c
  utils/files.c
Labels: A-common, P-low
