Repository iotaledger/entangled, pull requests merged in 2018-12, with the labels that each got.

#582 solidifier: fix current approver hash cast
  consensus/transaction_solidifier/transaction_solidifier.c
Labels: A-consensus

#588 common: fixing the duplicated module id.
  common/errors.h
Labels: A-common

#584 milestone_tracker: validate milestones as soon as they arrive
  common/storage/sql/sqlite3/storage.c
  common/storage/sql/statements.c
  common/storage/sql/statements.h
  common/storage/storage.h
  common/trinary/trit_array.c
  consensus/bundle_validator/bundle_validator.c
  consensus/bundle_validator/bundle_validator.h
  consensus/bundle_validator/tests/bundle_validator.c
  consensus/ledger_validator/ledger_validator.c
  consensus/milestone_tracker/BUILD
  consensus/milestone_tracker/milestone_tracker.c
  consensus/milestone_tracker/milestone_tracker.h
  consensus/tangle/tangle.c
  consensus/tangle/tangle.h
  gossip/components/BUILD
  gossip/components/broadcaster.h
  gossip/components/processor.c
  gossip/components/processor.h
  gossip/node.c
Labels: A-consensus

#577 ciri: ledger validator fixes and improvements
  common/errors.h
  common/model/bundle.c
  consensus/bundle_validator/bundle_validator.c
  consensus/consensus.c
  consensus/exit_probability_randomizer/tests/test_exit_probability_randomizer.c
  consensus/exit_probability_validator/tests/exit_probability_validator.c
  consensus/ledger_validator/BUILD
  consensus/ledger_validator/ledger_validator.c
  consensus/ledger_validator/ledger_validator.h
  consensus/milestone_tracker/milestone_tracker.c
  consensus/snapshot/snapshot.c
  consensus/transaction_solidifier/transaction_solidifier.c
  consensus/utils/tangle_traversals.c
  consensus/utils/tangle_traversals.h
Labels: A-cIRI, S-do-not-merge, S-waiting-on-author

#594 ledger_validator: remove update_snapshot lock
  consensus/ledger_validator/ledger_validator.c
Labels: A-consensus

#587 common: refactoring transfer model.
  common/model/BUILD
  common/model/tests/defs.h
  common/model/tests/test_transfer.c
  common/model/transfer.c
  common/model/transfer.h
Labels: A-common

#599 ciri: neighbors thread safety
  ciri/BUILD
  ciri/main.c
  common/errors.h
  gossip/BUILD
  gossip/components/BUILD
  gossip/components/broadcaster.c
  gossip/components/processor.c
  gossip/components/tips_requester.c
  gossip/neighbor.c
  gossip/neighbor.h
  gossip/node.c
  gossip/node.h
  gossip/services/BUILD
  gossip/services/tcp_receiver.cc
  gossip/services/tcp_receiver.hpp
  gossip/services/tcp_sender.cc
  gossip/services/tcp_sender.hpp
  gossip/services/udp_receiver.cc
  gossip/services/udp_receiver.hpp
  gossip/services/udp_sender.cc
  gossip/services/udp_sender.hpp
  utils/containers/lists/BUILD
  utils/containers/lists/concurrent_list_neighbor.c
  utils/containers/lists/concurrent_list_neighbor.h
Labels: A-cIRI

#472 main: print tx stats log
  ciri/main.c
  common/storage/sql/sqlite3/storage.c
  common/storage/sql/statements.c
  common/storage/sql/statements.h
  common/storage/storage.h
  consensus/tangle/tangle.c
  consensus/tangle/tangle.h
Labels: A-cIRI

#602 ciri: show configuration error logs
  ciri/main.c
Labels: A-conf

#601 api: switch get_tips from queue to stack
  cclient/response/get_tips.c
  cclient/response/get_tips.h
  cclient/serialization/json/json_serializer.c
  cclient/serialization/tests/test_json.c
  cclient/serialization/tests/test_json.h
  cclient/types/BUILD
  cclient/types/types.h
  ciri/api/api.c
  ciri/api/tests/test_get_tips.c
Labels: A-API, A-cclient

#603 api: add_neighbors API call
  cclient/request/add_neighbors.c
  cclient/request/add_neighbors.h
  cclient/response/add_neighbors.c
  cclient/response/add_neighbors.h
  cclient/serialization/json/json_serializer.c
  cclient/serialization/tests/test_json.c
  ciri/api/api.c
  ciri/api/tests/BUILD
  ciri/api/tests/test_add_neighbors.c
  common/errors.h
  gossip/neighbor.c
  gossip/neighbor.h
Labels: A-API

#609 cclient: fixed types error in get_node_info_res_t.
  cclient/response/get_node_info.h
  cclient/serialization/json/json_serializer.c
  cclient/serialization/tests/test_json.c
Labels: A-cIRI, A-cclient

#606 api: get_node_info API call
  cclient/response/get_node_info.c
  cclient/response/get_node_info.h
  cclient/serialization/json/json_serializer.c
  cclient/serialization/tests/test_json.c
  cclient/serialization/tests/test_json.h
  ciri/api/BUILD
  ciri/api/api.c
  ciri/api/tests/BUILD
  ciri/api/tests/test_get_node_info.c
  ciri/conf.bzl
Labels: A-API, A-cIRI

#617 storage: fix approvers_count
  common/storage/sql/sqlite3/storage.c
Labels: A-common, C-bug, S-ready-for-review

#621 common/sign: use normalize_hash_trits
  consensus/bundle_validator/bundle_validator.c
  utils/signed_files.c
Labels: A-common, S-ready-for-review

#604 api: remove_neighbors API call
  cclient/request/add_neighbors.h
  cclient/request/remove_neighbors.c
  cclient/request/remove_neighbors.h
  cclient/response/remove_neighbors.c
  cclient/response/remove_neighbors.h
  cclient/serialization/json/json_serializer.c
  cclient/serialization/tests/test_json.c
  ciri/api/api.c
  ciri/api/tests/BUILD
  ciri/api/tests/test_remove_neighbors.c
  common/errors.h
  gossip/neighbor.c
Labels: A-API, S-ready-for-review

#619 api: find_transactions API call
  cclient/iota_client_extended_api.c
  cclient/request/find_transactions.c
  cclient/request/find_transactions.h
  cclient/serialization/json/json_serializer.c
  cclient/serialization/tests/test_json.c
  ciri/README.md
  ciri/api/api.c
  ciri/api/conf.c
  ciri/api/conf.h
  ciri/api/tests/BUILD
  ciri/api/tests/test_find_transactions.c
  ciri/api/tests/test_get_node_info.c
  ciri/api/tests/test_get_trytes.c
  ciri/api/tests/test_store_transactions.c
  ciri/conf.c
  ciri/usage.h
  common/errors.c
  common/errors.h
  common/storage/BUILD
  common/storage/sql/sqlite3/storage.c
  common/storage/sql/statements.c
  common/storage/sql/statements.h
  common/storage/storage.h
  consensus/milestone_tracker/milestone_tracker.c
  consensus/tangle/BUILD
  consensus/tangle/tangle.c
  consensus/tangle/tangle.h
  consensus/transaction_solidifier/transaction_solidifier.c
  gossip/components/broadcaster.c
  utils/containers/hash/hash_queue.c.tpl
  utils/containers/hash/hash_queue.h.tpl
  utils/containers/hash/tests/test_hash_queue.c
Labels: A-API, S-ready-for-review

#447 api: gTTA implementation (WIP)
  cclient/iota_client_extended_api.c
  cclient/request/get_transactions_to_approve.c
  cclient/request/get_transactions_to_approve.h
  cclient/response/get_transactions_to_approve.c
  cclient/response/get_transactions_to_approve.h
  cclient/serialization/tests/test_json.c
  ciri/api/api.c
  ciri/api/tests/BUILD
  ciri/api/tests/test_get_transactions_to_approve.c
  common/errors.h
  common/storage/connection.h
  common/storage/sql/sqlite3/connection.c
  common/storage/sql/sqlite3/storage.c
  common/storage/storage.h
  consensus/BUILD
  consensus/exit_probability_randomizer/exit_probability_randomizer.c
  consensus/exit_probability_randomizer/exit_probability_randomizer.h
  consensus/exit_probability_randomizer/tests/test_exit_probability_randomizer.c
  consensus/exit_probability_randomizer/walker.c
  consensus/exit_probability_randomizer/walker.h
  consensus/model.h
  consensus/tip_selector/tip_selector.c
  consensus/tip_selector/tip_selector.h
Labels: A-API, S-ready-for-review

#631 api: check_consistency API call
  cclient/iota_client_extended_api.c
  cclient/request/check_consistency.c
  cclient/request/check_consistency.h
  cclient/response/check_consistency.c
  cclient/response/check_consistency.h
  cclient/serialization/json/json_serializer.c
  cclient/serialization/tests/test_json.c
  cclient/types/types.c
  cclient/types/types.h
  ciri/api/api.c
  ciri/api/api.h
  ciri/api/tests/BUILD
  ciri/api/tests/test_check_consistency.c
  ciri/api/tests/test_get_transactions_to_approve.c
  common/errors.h
  common/model/bundle.h
  common/storage/sql/sqlite3/storage.c
  common/storage/sql/statements.c
  common/storage/sql/statements.h
  consensus/exit_probability_validator/exit_probability_validator.c
  consensus/tangle/tangle.c
  consensus/tangle/tangle.h
  consensus/test_utils/bundle.h
Labels: A-API

#634 gossip: use is_empty functions instead of size functions
  gossip/components/broadcaster.c
  gossip/components/broadcaster.h
  gossip/components/processor.c
  gossip/components/processor.h
  gossip/components/responder.c
  gossip/components/responder.h
  gossip/components/transaction_requester.h
  gossip/components/transaction_requester_worker.c
Labels: A-gossip

#638 common: remove transaction pointer typedef
  cclient/iota_client_extended_api.c
  cclient/types/types.c
  cclient/types/types.h
  ciri/api/api.c
  ciri/api/tests/test_broadcast_transactions.c
  ciri/api/tests/test_check_consistency.c
  ciri/api/tests/test_find_transactions.c
  ciri/api/tests/test_get_trytes.c
  common/model/bundle.c
  common/model/bundle.h
  common/model/tests/test_transaction.c
  common/model/tests/test_transfer.c
  common/model/transaction.c
  common/model/transaction.h
  common/model/transfer.c
  common/model/transfer.h
  common/model/tryte_transaction.h
  common/storage/pack.h
  common/storage/sql/sqlite3/storage.c
  common/storage/sql/sqlite3/tests/test_sqlite3.c
  common/storage/storage.h
  consensus/bundle_validator/bundle_validator.c
  consensus/bundle_validator/tests/bundle_validator.c
  consensus/exit_probability_randomizer/tests/test_exit_probability_randomizer.c
  consensus/exit_probability_validator/tests/exit_probability_validator.c
  consensus/ledger_validator/ledger_validator.c
  consensus/milestone_tracker/milestone_tracker.c
  consensus/tangle/tangle.c
  consensus/tangle/tangle.h
  consensus/test_utils/tangle.c
  consensus/test_utils/tangle.h
  consensus/transaction_solidifier/transaction_solidifier.c
  consensus/transaction_solidifier/transaction_solidifier.h
  consensus/transaction_validator/tests/test_transaction_validator.c
  consensus/transaction_validator/transaction_validator.c
  consensus/transaction_validator/transaction_validator.h
  gossip/components/processor.c
  gossip/components/responder.c
Labels: A-common

#640 common: fix various compilation warnings
  cclient/iota_client_core_api.c
  cclient/iota_client_core_api.h
  cclient/serialization/json/json_serializer.c
  cclient/serialization/json/json_serializer.h
  cclient/serialization/serializer.h
  common/curl-p/ptrit.c
  common/model/transaction.c
  common/model/transaction.h
  common/model/transfer.c
  common/storage/sql/sqlite3/storage.c
  common/storage/storage.h
  common/storage/tests/helpers/defs.h
  common/trinary/trit_ptrit.c
  consensus/snapshot/state_delta.c
  gossip/components/transaction_requester.c
  gossip/components/transaction_requester.h
  utils/containers/hash/hash_map.c.tpl
  utils/containers/hash/hash_map.h.tpl
  utils/containers/hash/tests/test_hash_map.c
Labels: A-common

#642 infra: fix macOS *san builds
  tools/bazel.rc
Labels: A-infra

#647 solidifier: fixes and optimizations
  consensus/transaction_solidifier/BUILD
  consensus/transaction_solidifier/transaction_solidifier.c
Labels: A-consensus

#646 storage: open connection in no mutex mode
  common/storage/sql/sqlite3/connection.c
Labels: A-storage

#649 solidifier: remove redundant genesis check
  consensus/transaction_solidifier/transaction_solidifier.c
Labels: A-consensus, C-enhancement
