Repository iotaledger/entangled, pull requests merged in 2018-10, with the labels that each got.

#328 consensus/milestone_tracker: fix pack
  consensus/milestone_tracker/milestone_tracker.c
Labels: A-cIRI, P-high

#338 consensus/snapshot: fix snapshot asan errors
  consensus/snapshot/tests/test_snapshot.c
Labels: A-consensus

#324 cIRI README file
  ciri/README.md
Labels: A-cIRI, documentation

#339 cclient: fixed asan failure.
  cclient/response/get_balances.c
  cclient/response/get_balances.h
  cclient/response/get_neighbors.c
  cclient/serialization/json/json_serializer.c
Labels: A-c-client, P-high

#314 Ledger validator (WIP)
  ciri/BUILD
  ciri/ciri.db
  ciri/core.c
  ciri/core.h
  ciri/node.c
  ciri/node.h
  common/errors.c
  common/errors.h
  common/model/BUILD
  common/model/transaction.c
  common/model/transaction.h
  common/storage/defs.h
  common/storage/pack.c
  common/storage/pack.h
  common/storage/sql/defs.h
  common/storage/sql/schema.sql
  common/storage/sql/sqlite3/storage.c
  common/storage/sql/sqlite3/tests/test_sqlite3.c
  common/storage/sql/statements.c
  common/storage/sql/statements.h
  common/storage/storage.h
  common/storage/tests/helpers/defs.h
  common/trinary/trit_array.h
  consensus/cw_rating_calculator/BUILD
  consensus/cw_rating_calculator/cw_rating_calculator.c
  consensus/cw_rating_calculator/cw_rating_calculator.h
  consensus/cw_rating_calculator/cw_rating_dfs_impl.c
  consensus/exit_probability_randomizer/walker.c
  consensus/ledger_validator/BUILD
  consensus/ledger_validator/ledger_validator.c
  consensus/ledger_validator/ledger_validator.h
  consensus/milestone_tracker/BUILD
  consensus/milestone_tracker/milestone_tracker.c
  consensus/milestone_tracker/milestone_tracker.h
  consensus/snapshot/snapshot.c
  consensus/tangle/tangle.c
  consensus/tangle/tangle.h
  gossip/components/BUILD
  gossip/components/requester.c
  gossip/components/requester.h
  gossip/components/responder.c
  gossip/neighbor.c
  utils/BUILD
  utils/hash_containers.c
  utils/hash_containers.h
Labels: A-consensus

#318 Fix entry point selector
  consensus/entry_point_selector/entry_point_selector.c
  consensus/entry_point_selector/entry_point_selector.h
  consensus/entry_point_selector/tests/test_entry_point_selector.c
Labels: A-consensus, S-ready-for-review

#373 common: fixing buildifier check failed.
  common/trinary/BUILD
Labels: A-common

#370 Normalize hash trits
  common/sign/BUILD
  common/sign/normalize.c
  common/sign/normalize.h
  consensus/bundle_validator/bundle_validator.c
  consensus/milestone_tracker/milestone_tracker.c
Labels: A-common

#356 cclient: added README.md [skip ci]
  cclient/README.md
Labels: A-c-client, S-ready-for-review, documentation

#369 Clean bundle validator
  consensus/bundle_validator/BUILD
  consensus/bundle_validator/bundle_validator.c
  consensus/bundle_validator/bundle_validator.h
  consensus/bundle_validator/tests/BUILD
  consensus/bundle_validator/tests/bundle_validator.c
  consensus/defs.h
  consensus/ledger_validator/ledger_validator.c
  consensus/milestone_tracker/milestone_tracker.c
Labels: A-consensus

#329 Common definitions
  common/BUILD
  common/curl-p/BUILD
  common/curl-p/const.h
  common/curl-p/curl_p.c
  common/curl-p/curl_p_bct.c
  common/curl-p/curl_p_ptrit.c
  common/curl-p/digest.c
  common/curl-p/hamming.c
  common/curl-p/hashcash.c
  common/curl-p/pearl_diver.c
  common/curl-p/tests/test_bct.c
  common/curl-p/tests/test_cpu_hamming.c
  common/curl-p/tests/test_cpu_hashcash.c
  common/curl-p/tests/test_curlp.c
  common/curl-p/tests/test_curlp_ptrit.c
  common/defs.h
  common/helpers/BUILD
  common/helpers/checksum.c
  common/helpers/digest.c
  common/helpers/sign.c
  common/kerl/BUILD
  common/kerl/converter.c
  common/kerl/hash.c
  common/kerl/kerl.c
  common/kerl/tests/test_converter.c
  common/model/tests/test_bundle.c
  common/model/transfer.c
  common/model/transfer.h
  common/pow/pow.c
  common/sign/BUILD
  common/sign/normalize.c
  common/sign/normalize.h
  common/sign/v1/BUILD
  common/sign/v1/iss.c.inc
  common/sign/v1/iss.h.inc
  common/sign/v1/tests/test_iss_curl.c
  common/sign/v1/tests/test_iss_kerl.c
  common/sign/v2/BUILD
  common/sign/v2/iss.c.inc
  common/sign/v2/iss.h.inc
  common/sign/v2/tests/test_iss_curl.c
  common/trinary/BUILD
  common/trinary/flex_trit.h
  common/trinary/trit_byte.c
  common/trinary/trit_long.c
  common/trinary/trit_tryte.c
  common/trinary/trit_tryte.h
  common/trinary/tryte_ascii.c
  consensus/milestone_tracker/milestone_tracker.c
  mam/v1/mam.c
  mam/v1/mask.c
  mam/v1/merkle.c
  mam/v1/tests/test_mam.c
  mam/v1/tests/test_merkle.c
Labels: A-common

#385 Remove database indexing configuration
  ciri/core.c
  common/storage/connection.h
  common/storage/sql/sqlite3/connection.c
  common/storage/sql/sqlite3/tests/test_sqlite3.c
  consensus/bundle_validator/tests/bundle_validator.c
  consensus/entry_point_selector/tests/test_entry_point_selector.c
  consensus/exit_probability_randomizer/tests/test_exit_probability_randomizer.c
  consensus/exit_probability_validator/tests/exit_probability_validator.c
Labels: A-common, P-low

#382 Consensus init/start/stop/destroy
  ciri/BUILD
  ciri/core.c
  ciri/core.h
  ciri/node.c
  ciri/node.h
  common/errors.h
  consensus/BUILD
  consensus/consensus.c
  consensus/consensus.h
  consensus/exit_probability_randomizer/tests/test_exit_probability_randomizer.c
  consensus/exit_probability_validator/tests/exit_probability_validator.c
  consensus/ledger_validator/ledger_validator.c
  consensus/milestone_tracker/milestone_tracker.c
  consensus/milestone_tracker/milestone_tracker.h
  consensus/snapshot/snapshot.h
  consensus/tipselection/tipselection.c
  consensus/tipselection/tipselection.h
  gossip/components/processor.c
  gossip/components/processor.h
  gossip/components/responder.c
  gossip/components/responder.h
Labels: A-cIRI

#387 Do not show compilation warnings from 3rd party libraries
  tools/bazel.rc
Labels: A-infra, P-low

#386 Fix compilation warnings
  consensus/bundle_validator/tests/bundle_validator.c
  consensus/exit_probability_randomizer/exit_probability_randomizer.c
  consensus/exit_probability_randomizer/exit_probability_randomizer.h
  consensus/exit_probability_randomizer/tests/test_exit_probability_randomizer.c
  consensus/exit_probability_randomizer/walker.c
  consensus/exit_probability_randomizer/walker.h
  consensus/exit_probability_validator/exit_probability_validator.c
  consensus/exit_probability_validator/tests/exit_probability_validator.c
  consensus/transaction_validator/transaction_validator.c
  consensus/transaction_validator/transaction_validator.h
Labels: A-common, P-low

#389 Walker refactoring
  common/errors.h
  consensus/consensus.c
  consensus/exit_probability_randomizer/BUILD
  consensus/exit_probability_randomizer/exit_probability_randomizer.c
  consensus/exit_probability_randomizer/exit_probability_randomizer.h
  consensus/exit_probability_randomizer/tests/test_exit_probability_randomizer.c
  consensus/exit_probability_randomizer/walker.c
  consensus/exit_probability_randomizer/walker.h
  consensus/exit_probability_validator/exit_probability_validator.c
  consensus/exit_probability_validator/exit_probability_validator.h
  consensus/tangle/tangle.c
  consensus/tangle/tangle.h
Labels: A-consensus, S-waiting-on-author

#398 Storage refactoring (SQL statements as static strings)
  common/storage/BUILD
  common/storage/pack.c
  common/storage/sql/BUILD
  common/storage/sql/defs.h
  common/storage/sql/sqlite3/BUILD
  common/storage/sql/sqlite3/storage.c
  common/storage/sql/sqlite3/tests/test_sqlite3.c
  common/storage/sql/statements.c
  common/storage/sql/statements.h
  common/storage/storage.h
  consensus/bundle_validator/bundle_validator.c
  consensus/bundle_validator/tests/bundle_validator.c
  consensus/entry_point_selector/tests/test_entry_point_selector.c
  consensus/exit_probability_randomizer/tests/test_exit_probability_randomizer.c
  consensus/exit_probability_validator/exit_probability_validator.c
  consensus/exit_probability_validator/tests/exit_probability_validator.c
  consensus/ledger_validator/ledger_validator.c
  consensus/milestone_tracker/milestone_tracker.c
  consensus/tangle/tangle.c
  consensus/tangle/tangle.h
  gossip/components/processor.c
  gossip/components/requester.c
  gossip/components/responder.c
Labels: A-common, P-high

#401 Tip selector
  common/errors.h
  consensus/BUILD
  consensus/consensus.c
  consensus/consensus.h
  consensus/ledger_validator/ledger_validator.c
  consensus/ledger_validator/ledger_validator.h
  consensus/tip_selector/BUILD
  consensus/tip_selector/tip_selector.c
  consensus/tip_selector/tip_selector.h
  consensus/tipselection/tipselection.c
  consensus/tipselection/tipselection.h
  utils/hash_containers.c
  utils/hash_containers.h
Labels: A-consensus, P-medium

#406 State diff refactoring
  common/storage/BUILD
  common/storage/defs.h
  common/storage/sql/schema.sql
  common/storage/sql/sqlite3/BUILD
  common/storage/sql/sqlite3/storage.c
  common/storage/sql/sqlite3/tests/test_sqlite3.c
  common/storage/sql/statements.c
  common/storage/sql/statements.h
  common/storage/storage.h
  consensus/exit_probability_randomizer/tests/test_exit_probability_randomizer.c
  consensus/exit_probability_randomizer/walker.c
  consensus/exit_probability_validator/exit_probability_validator.c
  consensus/exit_probability_validator/exit_probability_validator.h
  consensus/exit_probability_validator/tests/exit_probability_validator.c
  consensus/ledger_validator/ledger_validator.c
  consensus/ledger_validator/ledger_validator.h
  consensus/snapshot/BUILD
  consensus/snapshot/snapshot.c
  consensus/snapshot/snapshot.h
  consensus/snapshot/state_delta.c
  consensus/snapshot/state_delta.h
  consensus/snapshot/state_diff.c
  consensus/snapshot/state_diff.h
  consensus/snapshot/tests/test_snapshot.c
  consensus/tangle/BUILD
  consensus/tangle/tangle.c
  consensus/tangle/tangle.h
  utils/hash_containers.c
  utils/hash_containers.h
Labels: A-consensus, P-medium

#409 infra: added esp32 toolchain.
  WORKSPACE
Labels: A-infra

#297 Snapshot signature
  WORKSPACE
  ciri/BUILD
  ciri/conf/conf_values.h
  ciri/core.c
  common/errors.h
  consensus/consensus.c
  consensus/exit_probability_randomizer/tests/BUILD
  consensus/exit_probability_randomizer/tests/test_exit_probability_randomizer.c
  consensus/exit_probability_validator/tests/BUILD
  consensus/exit_probability_validator/tests/exit_probability_validator.c
  consensus/milestone_tracker/BUILD
  consensus/milestone_tracker/milestone_tracker.c
  consensus/snapshot/BUILD
  consensus/snapshot/snapshot.c
  consensus/snapshot/snapshot.h
  consensus/snapshot/tests/BUILD
  consensus/snapshot/tests/snapshot_conf.json
  consensus/snapshot/tests/test_snapshot.c
  mam/v1/BUILD
  mam/v1/mam.c
  mam/v1/tests/BUILD
  mam/v1/tests/test_mam.c
  tools/BUILD
  tools/snapshot.bzl
  utils/BUILD
  utils/merkle.c
  utils/merkle.h
  utils/signed_files.c
  utils/signed_files.h
  utils/tests/BUILD
  utils/tests/fake.sig
  utils/tests/test_merkle.c
  utils/tests/test_signed_files.c
Labels: A-consensus, S-blocked

#270 cclient: added extended API header file.
  cclient/iota_client_extended_api.h
Labels: A-c-client, S-ready-for-review

#411 api: logic proposal
  cclient/iota_client_core_api.c
  cclient/serialization/BUILD
  cclient/serialization/json/json_serializer.c
  cclient/serialization/json/json_serializer.h
  cclient/serialization/serializer.h
  cclient/serialization/tests/test_json.h
  cclient/service.c
  cclient/service.h
  ciri/api/BUILD
  ciri/api/api.c
  ciri/api/api.h
  ciri/core.c
  common/errors.c
  common/errors.h
Labels: A-API

#419 utils: test cases for hash_queue, hash_stack.
  utils/hash_containers.c
  utils/hash_containers.h
  utils/tests/BUILD
  utils/tests/test_hash_containers.c
  utils/tests/test_hash_containers.h
Labels: S-ready-for-review

#439 Hash containers refactoring WIP
  consensus/cw_rating_calculator/BUILD
  consensus/cw_rating_calculator/cw_rating_dfs_impl.c
  consensus/exit_probability_randomizer/walker.c
  consensus/exit_probability_validator/exit_probability_validator.c
  consensus/exit_probability_validator/exit_probability_validator.h
  consensus/ledger_validator/BUILD
  consensus/ledger_validator/ledger_validator.c
  consensus/ledger_validator/ledger_validator.h
  consensus/tip_selector/tip_selector.c
  utils/BUILD
  utils/containers/hash/BUILD
  utils/containers/hash/hash_container_generator.bzl
  utils/containers/hash/hash_queue.c.tpl
  utils/containers/hash/hash_queue.h.tpl
  utils/containers/hash/hash_set.c.tpl
  utils/containers/hash/hash_set.h.tpl
  utils/containers/hash/hash_stack.c.tpl
  utils/containers/hash/hash_stack.h.tpl
  utils/containers/hash/tests/BUILD
  utils/containers/hash/tests/defs.h
  utils/containers/hash/tests/test_hash_queue.c
  utils/containers/hash/tests/test_hash_stack.c
  utils/hash_containers.c
  utils/hash_containers.h
  utils/tests/BUILD
  utils/tests/test_hash_containers.c
Labels: A-common

#418 api: get_trytes implementation
  cclient/iota_client_core_api.c
  cclient/iota_client_core_api.h
  cclient/request/get_trytes.c
  cclient/request/get_trytes.h
  cclient/response/get_trytes.c
  cclient/response/get_trytes.h
  cclient/serialization/json/json_serializer.c
  cclient/serialization/json/json_serializer.h
  cclient/serialization/serializer.h
  cclient/serialization/tests/test_json.c
  cclient/types/types.c
  cclient/types/types.h
  ciri/api/BUILD
  ciri/api/api.c
  ciri/api/api.h
  ciri/api/tests/BUILD
  ciri/api/tests/defs.h
  ciri/api/tests/test_get_trytes.c
  ciri/core.c
  common/errors.h
  common/model/transaction.c
  common/trinary/flex_trit.c
  common/trinary/flex_trit.h
  consensus/bundle_validator/tests/bundle_validator.c
  consensus/exit_probability_randomizer/tests/test_exit_probability_randomizer.c
  consensus/exit_probability_validator/tests/exit_probability_validator.c
  consensus/test_utils/bundle.h
  consensus/test_utils/tangle.c
  consensus/test_utils/tangle.h
  consensus/transaction_validator/tests/test_transaction_validator.c
  consensus/transaction_validator/transaction_validator.c
Labels: A-API, S-ready-for-review

#431 api: store_transactions implementation
  cclient/request/store_transactions.c
  cclient/request/store_transactions.h
  cclient/serialization/json/json_serializer.c
  cclient/serialization/tests/test_json.c
  ciri/api/BUILD
  ciri/api/api.c
  ciri/api/api.h
  ciri/api/tests/BUILD
  ciri/api/tests/test_get_trytes.c
  ciri/api/tests/test_store_transactions.c
  ciri/core.c
Labels: A-API, A-cIRI, S-ready-for-review

#442 api: broadcast_transactions implementation and broadcaster refactoring
  cclient/request/broadcast_transactions.c
  cclient/request/broadcast_transactions.h
  cclient/serialization/json/json_serializer.c
  cclient/serialization/tests/test_json.c
  ciri/api/BUILD
  ciri/api/api.c
  ciri/api/api.h
  ciri/api/tests/BUILD
  ciri/api/tests/test_broadcast_transactions.c
  ciri/ciri.db
  ciri/core.c
  ciri/main.c
  ciri/node.h
  common/errors.c
  common/errors.h
  gossip/BUILD
  gossip/components/BUILD
  gossip/components/broadcaster.c
  gossip/components/broadcaster.h
  gossip/components/processor.c
  gossip/components/responder.c
  gossip/iota_packet.c
  gossip/iota_packet.h
  gossip/neighbor.c
  gossip/neighbor.h
  utils/containers/hash/hash_queue.c.tpl
  utils/containers/lists/BUILD
Labels: A-API, A-cIRI, S-ready-for-review

#408 ledger_validator: clean and add state deltas
  ciri/api/tests/test_broadcast_transactions.c
  ciri/api/tests/test_store_transactions.c
  common/errors.h
  consensus/BUILD
  consensus/consensus.c
  consensus/consensus.h
  consensus/defs.h
  consensus/exit_probability_randomizer/tests/test_exit_probability_randomizer.c
  consensus/exit_probability_validator/exit_probability_validator.c
  consensus/exit_probability_validator/exit_probability_validator.h
  consensus/exit_probability_validator/tests/exit_probability_validator.c
  consensus/ledger_validator/ledger_validator.c
  consensus/ledger_validator/ledger_validator.h
  consensus/snapshot/state_delta.h
  consensus/transaction_validator/tests/test_transaction_validator.c
  consensus/transaction_validator/transaction_validator.c
  consensus/transaction_validator/transaction_validator.h
  utils/containers/hash/hash_set.c.tpl
  utils/hash_maps.c
Labels: A-consensus, S-ready-for-review

#420 cclient: implementing iota_client_get_new_address.
  cclient/BUILD
  cclient/iota_client_core_api.c
  cclient/iota_client_core_api.h
  cclient/iota_client_extended_api.c
  cclient/iota_client_extended_api.h
  cclient/request/find_transactions.c
  cclient/request/find_transactions.h
  cclient/request/get_balances.c
  cclient/request/get_balances.h
  cclient/response/find_transactions.c
  cclient/response/find_transactions.h
  cclient/response/get_balances.c
  cclient/response/get_balances.h
  cclient/serialization/json/json_serializer.c
  cclient/serialization/json/json_serializer.h
  cclient/serialization/serializer.h
  cclient/serialization/tests/test_json.c
  cclient/types/BUILD
  cclient/types/types.h
  common/error_strings.h
  common/errors.c
  common/errors.h
Labels: A-c-client, S-ready-for-review
