Repository iotaledger/entangled, pull requests merged in 2018-11, with the labels that each got.

#458 CLI configuration variables
  ciri/README.md
  ciri/api/conf.h
  ciri/conf.c
  ciri/conf.h
  ciri/usage.c
  ciri/usage.h
  consensus/conf.h
  gossip/conf.h
Labels: A-cIRI

#460 receiver: set IP to host for TCP neighbors
  gossip/neighbor.c
Labels: A-cIRI

#469 ciri: fix stop/destroy issues
  ciri/core.c
  ciri/main.c
  consensus/consensus.c
  gossip/node.c
Labels: A-cIRI

#470 Processor refactoring
  ciri/conf.c
  common/errors.c
  common/errors.h
  consensus/transaction_solidifier/transaction_solidifier.c
  gossip/BUILD
  gossip/components/BUILD
  gossip/components/processor.c
  gossip/components/processor.h
  gossip/components/receiver.c
  gossip/components/responder.c
  gossip/conf.c
  gossip/conf.h
  gossip/iota_packet.c
  gossip/iota_packet.h
  gossip/neighbor.c
  gossip/node.c
  gossip/node.h
  gossip/services/BUILD
  gossip/services/receiver.h
  gossip/services/tcp_receiver.cc
  gossip/services/udp_receiver.cc
  utils/containers/queues/BUILD
  utils/containers/queues/concurrent_queue_packet.c
  utils/containers/queues/concurrent_queue_packet.h
Labels: A-cIRI

#487 gossip: tips FIFO cache
  gossip/BUILD
  gossip/tests/BUILD
  gossip/tests/test_tips_cache.c
  gossip/tips_cache.c
  gossip/tips_cache.h
  utils/containers/hash/hash_container_generator.bzl
  utils/containers/hash/hash_set.c.tpl
  utils/containers/hash/hash_set.h.tpl
  utils/handles/rand.h
Labels: A-gossip, S-ready-for-review

#491 api: get_tips implementation
  cclient/iota_client_core_api.c
  cclient/iota_client_core_api.h
  cclient/response/get_tips.c
  cclient/response/get_tips.h
  cclient/serialization/json/json_serializer.c
  cclient/serialization/json/json_serializer.h
  cclient/serialization/serializer.h
  cclient/serialization/tests/test_json.c
  ciri/README.md
  ciri/api/api.c
  ciri/api/api.h
  ciri/api/tests/BUILD
  ciri/api/tests/test_broadcast_transactions.c
  ciri/api/tests/test_get_tips.c
  ciri/conf.c
  ciri/usage.h
  gossip/BUILD
  gossip/conf.c
  gossip/conf.h
  gossip/node.c
  gossip/node.h
  gossip/tests/test_tips_cache.c
  gossip/tips_cache.c
  gossip/tips_cache.h
Labels: A-API, S-blocked

#498 consensus: update status of newly arrived transactions
  ciri/api/BUILD
  ciri/api/api.c
  ciri/api/api.h
  ciri/api/tests/test_broadcast_transactions.c
  ciri/api/tests/test_get_trytes.c
  ciri/api/tests/test_store_transactions.c
  ciri/core.c
  common/storage/sql/sqlite3/storage.c
  common/storage/sql/statements.c
  common/storage/sql/statements.h
  common/storage/storage.h
  consensus/consensus.c
  consensus/consensus.h
  consensus/exit_probability_randomizer/tests/test_exit_probability_randomizer.c
  consensus/exit_probability_validator/tests/exit_probability_validator.c
  consensus/tangle/tangle.c
  consensus/tangle/tangle.h
  consensus/transaction_solidifier/BUILD
  consensus/transaction_solidifier/transaction_solidifier.c
  consensus/transaction_solidifier/transaction_solidifier.h
  gossip/components/processor.c
Labels: A-consensus

#176 Remove recursion in merkle tree implementation
  utils/merkle.c
Labels: A-mam, P-low

#473 cclient: fixed-sized trits uses flex_trit_t.
  cclient/iota_client_core_api.c
  cclient/iota_client_core_api.h
  cclient/request/attach_to_tangle.c
  cclient/request/attach_to_tangle.h
  cclient/request/broadcast_transactions.c
  cclient/request/broadcast_transactions.h
  cclient/request/check_consistency.c
  cclient/request/check_consistency.h
  cclient/request/get_balances.h
  cclient/request/get_inclusion_state.c
  cclient/request/get_inclusion_state.h
  cclient/request/get_transactions_to_approve.c
  cclient/request/get_transactions_to_approve.h
  cclient/request/get_trytes.c
  cclient/request/get_trytes.h
  cclient/request/store_transactions.c
  cclient/request/store_transactions.h
  cclient/response/attach_to_tangle.c
  cclient/response/attach_to_tangle.h
  cclient/response/get_node_info.c
  cclient/response/get_node_info.h
  cclient/response/get_tips.c
  cclient/response/get_tips.h
  cclient/response/get_transactions_to_approve.c
  cclient/response/get_transactions_to_approve.h
  cclient/response/get_trytes.c
  cclient/response/get_trytes.h
  cclient/serialization/json/json_serializer.c
  cclient/serialization/json/json_serializer.h
  cclient/serialization/serializer.h
  cclient/serialization/tests/test_json.c
  cclient/types/BUILD
  cclient/types/types.h
  ciri/api/api.c
  ciri/api/tests/test_broadcast_transactions.c
  ciri/api/tests/test_get_tips.c
  ciri/api/tests/test_get_trytes.c
  ciri/api/tests/test_store_transactions.c
Labels: A-c-client, S-ready-for-review

#502 transaction_solidifier: checks solidity of the branch transaction
  consensus/transaction_solidifier/transaction_solidifier.c
Labels: A-consensus, S-ready-for-review

#504 storage: indexes creation as part of the SQL schema
  ciri/db/ciri-mainnet.db
  ciri/db/ciri-testnet.db
  common/storage/sql/schema.sql
  common/storage/sql/sqlite3/connection.c
Labels: A-common, S-ready-for-review

#505 ciri: rebuild tx-to-request list on startup
  ciri/README.md
  ciri/conf.c
  ciri/usage.h
  common/storage/sql/sqlite3/storage.c
  common/storage/sql/statements.c
  common/storage/sql/statements.h
  common/storage/storage.h
  consensus/tangle/tangle.c
  consensus/tangle/tangle.h
  gossip/components/transaction_requester.c
  gossip/conf.c
  gossip/conf.h
  gossip/node.c
Labels: A-gossip, S-ready-for-review

#501 responder: random tip request response
  gossip/components/responder.c
Labels: A-gossip, S-ready-for-review

#512 gossip: rebuild tips cache on startup
  common/storage/sql/sqlite3/storage.c
  common/storage/sql/statements.c
  common/storage/sql/statements.h
  common/storage/storage.h
  consensus/tangle/tangle.c
  consensus/tangle/tangle.h
  gossip/node.c
Labels: A-gossip

#514 ledger_validator: fix tx-bundle pointer check
  consensus/ledger_validator/ledger_validator.c
Labels: A-consensus

#506 cclient: fixing the threshold misunderstanding.
  cclient/iota_client_core_api.c
  cclient/iota_client_core_api.h
  cclient/iota_client_extended_api.c
  cclient/iota_client_extended_api.h
  cclient/response/get_balances.c
  cclient/response/get_balances.h
  cclient/serialization/json/json_serializer.c
  cclient/serialization/tests/test_json.c
  cclient/serialization/tests/test_json.h
Labels: A-c-client, S-ready-for-review

#526 mam2: fix sponge segmentation fault
  common/trinary/trit_array.h
  mam/v2/sponge.c
  mam/v2/wots.c
Labels: A-MAM-V2, C-bug

#531 mam2: remove ialloc
  mam/v2/BUILD
  mam/v2/alloc.c
  mam/v2/alloc.h
  mam/v2/mam.c
  mam/v2/mam.h
  mam/v2/mss.c
  mam/v2/mss.h
  mam/v2/pb3.c
  mam/v2/pb3.h
  mam/v2/prng.c
  mam/v2/prng.h
  mam/v2/tests/common.h
  mam/v2/tests/test.c
  mam/v2/tests/test_curl.c
  mam/v2/tests/test_mam.c
  mam/v2/tests/test_mss.c
  mam/v2/tests/test_prng.c
  mam/v2/tests/test_sponge.c
  mam/v2/tests/test_wots.c
  mam/v2/trits.c
  mam/v2/trits.h
  mam/v2/wots.c
  mam/v2/wots.h
Labels: A-MAM-V2

#535 mam2: PRNG flex state
  mam/v2/mam.c
  mam/v2/mam.h
  mam/v2/mss.c
  mam/v2/mss.h
  mam/v2/ntru.c
  mam/v2/ntru.h
  mam/v2/prng.c
  mam/v2/prng.h
  mam/v2/tests/common.h
  mam/v2/tests/test.c
  mam/v2/tests/test_mam.c
  mam/v2/tests/test_mss.c
  mam/v2/tests/test_prng.c
  mam/v2/tests/test_wots.c
  mam/v2/wots.c
  mam/v2/wots.h
Labels: A-MAM-V2

#536 mam2: remove MAM2_INLINE/MAM2_API
  mam/v2/buffers.c
  mam/v2/buffers.h
  mam/v2/curl.c
  mam/v2/curl.h
  mam/v2/defs.h
  mam/v2/mam.c
  mam/v2/mam.h
  mam/v2/ntru.c
  mam/v2/ntru.h
  mam/v2/pb3.c
  mam/v2/pb3.h
  mam/v2/sponge.c
  mam/v2/sponge.h
  mam/v2/tests/common.h
  mam/v2/tests/test_curl.c
  mam/v2/tests/test_mam.c
  mam/v2/tests/test_sponge.c
  mam/v2/tests/test_wots.c
  mam/v2/trits.c
  mam/v2/trits.h
  mam/v2/wots.c
  mam/v2/wots.h
Labels: A-MAM-V2

#537 mam2: move errors to retcode_t
  common/errors.h
  mam/v2/BUILD
  mam/v2/err.c
  mam/v2/err.h
  mam/v2/mam.c
  mam/v2/mam.h
  mam/v2/mss.c
  mam/v2/mss.h
  mam/v2/pb3.c
  mam/v2/pb3.h
  mam/v2/tests/test_mam.c
  mam/v2/wots.h
Labels: A-MAM-V2

#543 mam2: fix WOTS offsets
  mam/v2/mss.c
  mam/v2/tests/common.h
  mam/v2/tests/test_wots.c
  mam/v2/wots.c
  mam/v2/wots.h
Labels: A-MAM-V2

#546 mam2: TRIT_ARRAY_DECLARE sponge output values
  mam/v2/mss.c
  mam/v2/sponge.c
  mam/v2/sponge.h
Labels: A-MAM-V2, C-bug

#539 conf: add CLI options for snapshot variables
  ciri/README.md
  ciri/conf.c
  ciri/usage.c
  ciri/usage.h
  consensus/BUILD
  consensus/conf.c
  consensus/conf.h
  consensus/exit_probability_randomizer/tests/test_exit_probability_randomizer.c
  consensus/exit_probability_validator/tests/exit_probability_validator.c
  consensus/snapshot/BUILD
  consensus/snapshot/snapshot.c
  consensus/snapshot/snapshot.h
  consensus/snapshot/tests/test_snapshot.c
  utils/tests/test_signed_files.c
Labels: A-cIRI

#515 cclient/http: Added content_type and accept to http_info_t
  cclient/http/http.c
  cclient/http/http.h
  cclient/http/tests/test_http.c
  cclient/service.h
Labels: A-c-client

#547 mam2: flex trits PRNG layer
  common/trinary/trit_array.h
  mam/v2/mam.c
  mam/v2/mss.c
  mam/v2/prng.c
  mam/v2/prng.h
  mam/v2/sponge.c
  mam/v2/tests/common.h
  mam/v2/tests/test.c
  mam/v2/tests/test_prng.c
  mam/v2/tests/test_wots.c
  mam/v2/wots.c
  mam/v2/wots.h
Labels: A-MAM-V2

#552 mam1: fix digest length
  mam/v1/mam.c
Labels: A-mam

#560 mam1: fix failing security tests
  common/sign/v2/iss.c.inc
  mam/v1/mam.c
  mam/v1/tests/test_mam.c
Labels: A-mam

#556 mam2: MSS flex auth path
  mam/v2/defs.h
  mam/v2/mss.c
  mam/v2/mss.h
  mam/v2/tests/common.h
Labels: A-MAM-V2

#562 mam2: sponge type rename & PRNG refactoring
  mam/v2/curl.c
  mam/v2/curl.h
  mam/v2/mam.c
  mam/v2/mam.h
  mam/v2/mss.c
  mam/v2/mss.h
  mam/v2/pb3.c
  mam/v2/pb3.h
  mam/v2/prng.c
  mam/v2/prng.h
  mam/v2/sponge.c
  mam/v2/sponge.h
  mam/v2/tests/common.h
  mam/v2/tests/test.c
  mam/v2/tests/test_mam.c
  mam/v2/tests/test_mss.c
  mam/v2/tests/test_prng.c
  mam/v2/tests/test_sponge.c
  mam/v2/tests/test_wots.c
  mam/v2/wots.c
  mam/v2/wots.h
Labels: A-MAM-V2

#567 mam2: various cleaning
  mam/v2/buffers.c
  mam/v2/buffers.h
  mam/v2/curl.c
  mam/v2/curl.h
  mam/v2/defs.h
  mam/v2/list.h
  mam/v2/mam.c
  mam/v2/mam.h
  mam/v2/mss.c
  mam/v2/mss.h
  mam/v2/ntru.c
  mam/v2/ntru.h
  mam/v2/pb3.c
  mam/v2/pb3.h
  mam/v2/sponge.c
  mam/v2/sponge.h
  mam/v2/tests/common.h
  mam/v2/tests/test.c
  mam/v2/tests/test_curl.c
  mam/v2/tests/test_mam.c
  mam/v2/tests/test_mss.c
  mam/v2/tests/test_sponge.c
  mam/v2/tests/test_wots.c
  mam/v2/trits.c
  mam/v2/trits.h
  mam/v2/wots.c
  mam/v2/wots.h
Labels: A-MAM-V2

#566 mam2: mss flex hashes
  mam/v2/mss.c
  mam/v2/mss.h
  mam/v2/tests/common.h
Labels: A-MAM-V2

#559 conf: add a coordinator CLI option
  ciri/README.md
  ciri/conf.c
  ciri/usage.h
Labels: A-cIRI

#571 mam2: remove mss debug define
  mam/v2/mss.c
  mam/v2/mss.h
  mam/v2/tests/test_mss.c
Labels: A-MAM-V2

#574 mam2: sponge flex pointwise test
  common/trinary/trit_array.h
  mam/v2/tests/test_sponge.c
Labels: A-MAM-V2

#576 ciri: fix transaction requester and tips cache size logs
  gossip/node.c
Labels: A-cIRI
