Repository iotaledger/entangled, pull requests merged in 2019-06, with the labels that each got.

#1235 utils: fix warnings
  cclient/http/http.c
  consensus/snapshot/snapshot.c
  consensus/snapshot/snapshot.h
  consensus/snapshot/snapshot_metadata.c
  utils/files.c
  utils/handles/socket.c
  utils/handles/socket.h
  utils/signed_files.c
Labels: A-utils, C-cleanup, S-ready-for-review

#1221 mam: add classic mss tests
  mam/mss/tests/BUILD
Labels: A-mam, C-test, S-ready-for-review

#1214 gossip: remove drop cache entry probability
  ciri/README.md
  ciri/conf.c
  ciri/conf.example.yml
  ciri/usage.h
  gossip/BUILD
  gossip/conf.c
  gossip/conf.h
  gossip/node.c
  gossip/recent_seen_bytes_cache.c
  gossip/recent_seen_bytes_cache.h
  gossip/tests/test_recent_seen_bytes_cache.c
Labels: A-gossip, C-cleanup, S-ready-for-review

#1207 common: bundle_transactions_bundle_hash, flex_trit_print
  common/model/bundle.h
  common/model/transaction.c
  common/trinary/flex_trit.c
  common/trinary/flex_trit.h
Labels: A-common, C-enhancement, S-ready-for-review

#1244 infra: add SECURITY.md
  SECURITY.md
Labels: A-infra, C-documentation, S-ready-for-review

#1248 cclient: fixing warnings.
  cclient/serialization/json/helpers.c
Labels: A-cclient, C-enhancement, S-ready-for-review

#1249 cclient: fixing wrong error code is returned.
  cclient/api/extended/get_account_data.c
  cclient/serialization/json/helpers.c
Labels: A-cclient, C-bug, S-ready-for-review

#1246 infra: update uthash
  WORKSPACE
Labels: A-infra, C-enhancement, S-ready-for-review

#1245 infra: move hooks to tools
  README.md
  hooks/scripts/cpplint
  tools/hooks/autohook.sh
  tools/hooks/pre-commit/01-buildifier-check
  tools/hooks/pre-commit/02-cpplint
  tools/hooks/pre-commit/03-format-check
  tools/hooks/scripts/buildifier_check
  tools/hooks/scripts/cpplint
  tools/hooks/scripts/format_check
Labels: A-infra, C-enhancement, S-ready-for-review

#1243 tests: adjust new timeouts
  ciri/api/tests/BUILD
  consensus/entry_point_selector/tests/BUILD
  consensus/exit_probability_validator/tests/BUILD
  consensus/tangle/tests/BUILD
Labels: C-test, S-ready-for-review

#1257 common: remove bundle_clear()
  common/model/bundle.c
Labels: A-common, C-cleanup, S-ready-for-review

#1255 mam: absorb nonces size
  common/model/bundle.h
  mam/api/api.c
  mam/mam/channel.c
  mam/mam/channel.h
  mam/mam/endpoint.c
  mam/mam/endpoint.h
  mam/mam/message.c
  mam/mam/tests/test_channel_utils.c
  mam/mam/tests/test_endpoint.c
  mam/mam/tests/test_message.c
  mam/mss/mss_classic.c
  mam/mss/mss_classic.h
  mam/mss/mss_common.c
  mam/mss/mss_common.h
  mam/mss/mss_traversal.c
  mam/mss/mss_traversal.h
  mam/mss/tests/test_mss.c
  mam/pb3/pb3.c
  mam/pb3/pb3.h
  mam/pb3/tests/test_pb3.c
  mam/prng/prng.c
  mam/prng/prng.h
  mam/trits/trits.c
  mam/trits/trits.h
  mam/wots/wots.h
Labels: A-mam, C-feature, S-ready-for-review

#1253 CClient: examples for APIs.
  cclient/api/examples/BUILD
  cclient/api/examples/cclient_examples.c
  cclient/api/examples/cclient_examples.h
  cclient/api/examples/example_attach_to_tangle.c
  cclient/api/examples/example_broadcast_transactions.c
  cclient/api/examples/example_check_consistency.c
  cclient/api/examples/example_find_transaction_objects.c
  cclient/api/examples/example_find_transactions.c
  cclient/api/examples/example_get_account_data.c
  cclient/api/examples/example_get_balance.c
  cclient/api/examples/example_get_bundle.c
  cclient/api/examples/example_get_inclustion_states.c
  cclient/api/examples/example_get_inputs.c
  cclient/api/examples/example_get_latest_inclution.c
  cclient/api/examples/example_get_new_address.c
  cclient/api/examples/example_get_tips.c
  cclient/api/examples/example_get_transactions_to_approve.c
  cclient/api/examples/example_get_trytes.c
  cclient/api/examples/example_is_promotable.c
  cclient/api/examples/example_node_info.c
  cclient/api/examples/example_prepare_transfer.c
  cclient/api/examples/example_replay_bundle.c
  cclient/api/examples/example_send_balance.c
  cclient/api/examples/example_send_data.c
  cclient/api/examples/example_send_trytes.c
  cclient/api/examples/example_store_transactions.c
  cclient/api/examples/example_traverse_bundle.c
  cclient/api/extended/get_inputs.c
  cclient/api/extended/prepare_transfers.c
  cclient/api/extended/promote_transaction.c
Labels: A-cclient, C-feature, S-ready-for-review

#1259 mam: fix warnings
  mam/mss/mss_common.c
  mam/mss/mss_traversal.c
  mam/mss/tests/test_mss.c
  mam/ntru/poly.c
  mam/ntru/tests/BUILD
Labels: A-mam, C-cleanup, S-ready-for-review

#1266 utils: remove old unused containers
  common/model/milestone.h
  utils/containers/lists/BUILD
  utils/containers/lists/concurrent_list.c.inc
  utils/containers/lists/concurrent_list.h.inc
  utils/containers/lists/concurrent_list_trit_array.c
  utils/containers/lists/concurrent_list_trit_array.h
  utils/containers/lists/test/BUILD
  utils/containers/lists/test/test_concurrent_list.c
  utils/containers/queues/BUILD
  utils/containers/queues/concurrent_queue.c.inc
  utils/containers/queues/concurrent_queue.h.inc
  utils/containers/queues/concurrent_queue_trit_array.c
  utils/containers/queues/concurrent_queue_trit_array.h
  utils/containers/queues/test/BUILD
  utils/containers/queues/test/test_concurrent_queue.c
Labels: A-utils, C-cleanup, S-ready-for-review

#1267 infra: use iota.lib.cpp from rules_iota
  WORKSPACE
  third_party/iota_lib_cpp/BUILD.bzl
Labels: A-infra, C-cleanup, S-ready-for-review

#1270 common: add bundle test cases
  consensus/bundle_validator/tests/bundle_validator.c
Labels: A-common, C-test

#1273 gossip: fix warnings
  gossip/services/tcp_sender.cc
  gossip/services/udp_sender.cc
Labels: A-gossip, C-cleanup, S-ready-for-review

#1277 mam: fix mss skn
  mam/mss/mss_classic.c
  mam/mss/mss_common.c
  mam/mss/mss_traversal.c
  mam/mss/tests/test_mss.c
Labels: A-mam, C-bug, S-ready-for-review

#1263 mam: api remaining sks functions
  mam/api/api.c
  mam/api/api.h
  mam/api/tests/test_api.c
  mam/mam/channel.c
  mam/mam/channel.h
  mam/mam/endpoint.c
  mam/mam/endpoint.h
  mam/mss/mss_classic.c
  mam/mss/mss_common.c
  mam/mss/mss_common.h
  mam/mss/mss_traversal.c
  mam/mss/tests/test_mss.c
Labels: A-mam, C-feature, S-ready-for-review

#1274 CClient: implementing wereAddressesSpentFrom.
  cclient/api/core/core_api.h
  cclient/api/core/were_addresses_spent_from.c
  cclient/api/core/were_addresses_spent_from.h
  cclient/api/examples/cclient_examples.c
  cclient/api/examples/cclient_examples.h
  cclient/api/examples/example_get_inclusion_states.c
  cclient/api/examples/example_get_latest_inclusion.c
  cclient/api/examples/example_were_addresses_spent_from.c
  cclient/request/requests.h
  cclient/request/were_addresses_spent_from.c
  cclient/request/were_addresses_spent_from.h
  cclient/response/responses.h
  cclient/response/were_addresses_spent_from.c
  cclient/response/were_addresses_spent_from.h
  cclient/serialization/json/json_serializer.c
  cclient/serialization/json/tests/BUILD
  cclient/serialization/json/tests/were_addresses_spent_from.c
  cclient/serialization/json/were_addresses_spent_from.c
  cclient/serialization/json/were_addresses_spent_from.h
  cclient/serialization/serializer.h
Labels: A-cclient, C-feature, S-ready-for-review

#1268 mam: channel/endpoint functions name consistency
  mam/api/api.c
  mam/api/api.h
  mam/api/tests/test_api.c
  mam/examples/common.c
  mam/examples/common.h
  mam/examples/send-common.c
  mam/examples/send-header.c
  mam/examples/send-msg.c
Labels: A-mam, C-cleanup, S-ready-for-review

#1284 consensus: fix some warnings
  consensus/bundle_validator/tests/bundle_validator.c
  consensus/ledger_validator/tests/test_ledger_validator.c
  consensus/milestone/milestone_service.c
  consensus/milestone/milestone_tracker.c
  consensus/snapshot/snapshots_provider.c
  consensus/snapshot/snapshots_provider.h
  consensus/snapshot/snapshots_service.c
  consensus/snapshot/tests/test_snapshot.c
  consensus/snapshot/tests/test_snapshot_metadata.c
  consensus/snapshot/tests/test_state_delta.c
  consensus/tip_selection/cw_rating_calculator/cw_rating_calculator.c
  consensus/tip_selection/cw_rating_calculator/cw_rating_dfs_impl.c
  consensus/tip_selection/entry_point_selector/tests/test_entry_point_selector.c
  consensus/tip_selection/exit_probability_randomizer/tests/test_exit_probability_randomizer.c
  consensus/tip_selection/exit_probability_randomizer/walker.c
  consensus/tip_selection/exit_probability_validator/tests/exit_probability_validator.c
  consensus/transaction_solidifier/transaction_solidifier.c
  consensus/transaction_solidifier/transaction_solidifier.h
  consensus/transaction_validator/tests/test_transaction_validator.c
Labels: A-consensus, C-cleanup, S-ready-for-review

#1285 CClient: enhancement and cleanup.
  cclient/api/BUILD
  cclient/api/core/add_neighbors.c
  cclient/api/core/add_neighbors.h
  cclient/api/core/attach_to_tangle.c
  cclient/api/core/attach_to_tangle.h
  cclient/api/core/broadcast_transactions.c
  cclient/api/core/broadcast_transactions.h
  cclient/api/core/check_consistency.c
  cclient/api/core/check_consistency.h
  cclient/api/core/doxy.txt
  cclient/api/core/get_inclusion_states.c
  cclient/api/core/get_inclusion_states.h
  cclient/api/core/get_neighbors.c
  cclient/api/core/get_neighbors.h
  cclient/api/core/get_node_info.c
  cclient/api/core/get_node_info.h
  cclient/api/core/get_tips.c
  cclient/api/core/get_tips.h
  cclient/api/core/get_transactions_to_approve.c
  cclient/api/core/get_transactions_to_approve.h
  cclient/api/core/get_trytes.c
  cclient/api/core/get_trytes.h
  cclient/api/core/remove_neighbors.c
  cclient/api/core/remove_neighbors.h
  cclient/api/core/store_transactions.c
  cclient/api/core/store_transactions.h
  cclient/http/http.c
  cclient/http/http.h
  cclient/request/add_neighbors.c
  cclient/request/add_neighbors.h
  cclient/request/check_consistency.h
  cclient/response/check_consistency.c
  cclient/response/check_consistency.h
  cclient/serialization/json/add_neighbors.c
  cclient/serialization/json/add_neighbors.h
  cclient/serialization/json/attach_to_tangle.c
  cclient/serialization/json/attach_to_tangle.h
  cclient/serialization/json/broadcast_transactions.c
  cclient/serialization/json/broadcast_transactions.h
  cclient/serialization/json/check_consistency.c
  cclient/serialization/json/check_consistency.h
  cclient/serialization/json/get_balances.c
  cclient/serialization/json/get_balances.h
  cclient/serialization/json/get_tips.c
  cclient/serialization/json/helpers.c
  cclient/serialization/serializer.h
  cclient/service.h
  utils/char_buffer.c
Labels: A-cclient, A-utils, C-cleanup, S-ready-for-review

#1278 common: fix typo and add aux function
  consensus/bundle_validator/tests/bundle_validator.c
Labels: A-common, C-test

#1286 ciri: fix warnings
  ciri/api/http/http.c
Labels: A-ciri, C-cleanup, S-ready-for-review

#1282 mam: trusted pks clean and tests
  common/errors.h
  mam/api/api.c
  mam/api/api.h
  mam/api/tests/test_api.c
  mam/examples/send-common.c
  mam/examples/send-common.h
  mam/examples/send-header.c
  mam/mam/message.c
  mam/mam/message.h
Labels: A-mam, C-cleanup, S-ready-for-review

#1287 common: return NULL if out of memory occurs
  common/model/transaction.c
Labels: A-common, C-bug, S-ready-for-review

#1210 iota_client_get_inputs enhancement
  cclient/api/extended/get_inputs.c
  cclient/api/extended/get_inputs.h
  cclient/api/extended/get_new_address.c
  cclient/api/extended/get_new_address.h
Labels: A-cclient, C-enhancement, P-low

#1283 mam/api: export prefix to be defined via target 'defines' list
  WORKSPACE
  mam/BUILD
  mam/api/api.h
  mam/defs.h
Labels: A-mam, C-feature, S-ready-for-review

#1292 infra: update iota.lib.cpp
  WORKSPACE
  tools/bazel.rc
Labels: A-tanglescope, C-bug, S-ready-for-review

#1288 consensus: fix warnings
  consensus/bundle_validator/tests/bundle_validator.c
  consensus/conf.c
  consensus/snapshot/snapshot_metadata.c
  consensus/snapshot/snapshots_service.c
  consensus/snapshot/state_delta.c
  consensus/tip_selection/exit_probability_randomizer/tests/test_exit_probability_randomizer.c
  consensus/tip_selection/tip_selector.c
  gossip/components/processor.c
  utils/time.c
Labels: A-consensus, C-cleanup

#1289 CClient: fixing is_unused_address.
  cclient/api/extended/get_new_address.c
Labels: A-cclient, C-bug, S-ready-for-review

#1293 mam: shared library rule
  mam/BUILD
Labels: A-mam, C-feature, S-do-not-merge

#1280 Mam pb3 documentation and cleanup
  mam/pb3/pb3.c
  mam/pb3/pb3.h
Labels: A-mam, C-documentation, S-ready-for-review

#1301 mam: channel/endpoint ID trit/tryte sizes
  mam/api/api.c
  mam/api/tests/test_api.c
  mam/examples/send-common.c
  mam/examples/send-header.c
  mam/examples/send-msg.c
  mam/mam/channel.h
  mam/mam/endpoint.h
  mam/mam/message.c
  mam/mam/message.h
  mam/mam/tests/test_channel_utils.c
  mam/mam/tests/test_endpoint.c
  mam/mam/tests/test_message.c
Labels: A-mam, C-enhancement, S-ready-for-review

#1299 Utils: implementing hashXXX_queue_copy.
  cclient/api/extended/get_inputs.c
  cclient/api/extended/get_new_address.c
  cclient/api/extended/get_new_address.h
  utils/containers/hash/hash_queue.c.tpl
  utils/containers/hash/hash_queue.h.tpl
  utils/containers/hash/tests/test_hash_queue.c
Labels: A-cclient, A-utils, C-enhancement, S-ready-for-review

#1304 mam: fix bundle wrap
  mam/api/api.c
Labels: A-mam, C-bug, S-ready-for-review

#1305 common: remove unused bct code
  common/crypto/curl-p/BUILD
  common/crypto/curl-p/curl_p_bct.c
  common/crypto/curl-p/tests/BUILD
  common/crypto/curl-p/tests/test_bct.c
  common/trinary/BUILD
  common/trinary/bct.c
  common/trinary/bct.h
Labels: A-common, C-cleanup, S-ready-for-review

#1303 gossip: improve processor perfs
  gossip/components/processor.c
  gossip/components/processor.h
  gossip/iota_packet.c
  gossip/iota_packet.h
Labels: A-gossip, C-enhancement, S-ready-for-review

#1311 gossip: add coordinator conf
  ciri/conf.c
  gossip/BUILD
  gossip/conf.bzl
  gossip/conf.c
  gossip/conf.h
Labels: A-gossip, C-feature, S-ready-for-review

#1306 CClient: get_account_data refactoring
  cclient/api/examples/example_get_account_data.c
  cclient/api/extended/get_account_data.c
  cclient/api/extended/get_account_data.h
  cclient/api/extended/get_inputs.h
  cclient/api/extended/get_new_address.h
  cclient/api/extended/types.h
Labels: A-cclient, C-enhancement, S-ready-for-review

#1307 ciri: were_addresses_spent_from api
  cclient/response/were_addresses_spent_from.c
  ciri/api/api.c
  ciri/api/api.h
  ciri/api/conf.h
  ciri/api/http/http.c
  ciri/api/http/http.h
  ciri/api/tests/BUILD
  ciri/api/tests/test_broadcast_transactions.c
  ciri/api/tests/test_check_consistency.c
  ciri/api/tests/test_find_transactions.c
  ciri/api/tests/test_get_missing_transactions.c
  ciri/api/tests/test_get_node_info.c
  ciri/api/tests/test_get_transactions_to_approve.c
  ciri/api/tests/test_get_trytes.c
  ciri/api/tests/test_store_transactions.c
  ciri/api/tests/test_were_addresses_spent_from.c
  ciri/conf.c
  tools/buildifier
Labels: A-api, C-feature, S-ready-for-review

#1312 utils: queue pop now returns the front entry
  cclient/api/extended/traverse_bundle.c
  consensus/milestone/milestone_tracker.c
  consensus/tip_selection/exit_probability_randomizer/exit_prob_map.c
  gossip/components/broadcaster.c
  gossip/components/broadcaster.h
  utils/containers/hash/hash_queue.c.tpl
  utils/containers/hash/hash_queue.h.tpl
  utils/containers/hash/tests/test_hash_queue.c
Labels: A-utils, C-enhancement, S-ready-for-review

#1310 gossip: improve responder perfs
  gossip/components/responder.c
  gossip/components/responder.h
  gossip/transaction_request.c
  gossip/transaction_request.h
Labels: A-gossip, C-enhancement, S-ready-for-review
