Repository iotaledger/entangled, pull requests merged in 2019-07, with the labels that each got.

#1317 node: clean and improve broadcaster
  ciri/api/api.c
  ciri/api/tests/test_broadcast_transactions.c
  ciri/api/tests/test_get_node_info.c
  ciri/consensus/milestone/milestone_tracker.c
  ciri/consensus/snapshot/local_snapshots/local_snapshots_manager.c
  ciri/consensus/transaction_solidifier/transaction_solidifier.c
  ciri/node/neighbor.c
  ciri/node/neighbor.h
  ciri/node/node.c
  ciri/node/pipeline/BUILD
  ciri/node/pipeline/broadcaster.c
  ciri/node/pipeline/broadcaster.h
  ciri/node/pipeline/processor.c
  ciri/node/pipeline/receiver.c
  ciri/node/pipeline/responder.c
  ciri/node/pipeline/tips_requester.c
  ciri/node/pipeline/tips_solidifier.c
  ciri/node/pipeline/transaction_requester_worker.c
  common/errors.h
  common/network/endpoint.h
Labels: A-gossip, C-enhancement, S-ready-for-review

#1320 Cclient: example broadcast bundle
  cclient/api/examples/cclient_examples.c
  cclient/api/examples/cclient_examples.h
  cclient/api/examples/example_broadcast_bundle.c
  common/model/bundle.h
Labels: A-cclient, C-documentation, C-enhancement, S-ready-for-review

#1329 Cclient: implementing example_promote_transacion
  cclient/api/examples/cclient_examples.c
  cclient/api/examples/cclient_examples.h
  cclient/api/examples/example_get_transactions_to_approve.c
  cclient/api/examples/example_promote_transacion.c
  cclient/api/extended/promote_transaction.c
  cclient/api/extended/promote_transaction.h
  cclient/api/extended/send_trytes.c
  cclient/request/get_transactions_to_approve.c
  cclient/request/get_transactions_to_approve.h
  cclient/serialization/json/check_consistency.c
  cclient/serialization/json/get_transactions_to_approve.c
  cclient/serialization/json/tests/check_consistency.c
  cclient/serialization/json/tests/get_transactions_to_approve.c
  common/error_strings.h
  common/errors.c
  common/errors.h
Labels: A-cclient, C-enhancement, C-feature, S-ready-for-review

#1339 mam: fix recv example get_bundle_transactions
  mam/examples/common.c
Labels: A-mam, C-bug, S-ready-for-review

#1348 network: remove handshake port check against socket port
  ciri/node/network/router.c
Labels: A-ciri, C-bug, S-ready-for-review

#1346 consensus/cw_calculator: add as approvers txs which has approvees pre…
  ciri/consensus/tip_selection/cw_rating_calculator/cw_rating_dfs_impl.c
  ciri/consensus/tip_selection/exit_probability_randomizer/tests/test_exit_probability_randomizer.c
Labels: A-ciri, A-consensus, S-ready-for-review

#1358 node: fix ever-growing responder queue
  ciri/node/pipeline/broadcaster.c
  ciri/node/pipeline/processor.c
  ciri/node/pipeline/responder.c
Labels: A-node, C-bug, S-ready-for-review

#1357 conf: fix neighbors leak
  ciri/conf.c
Labels: A-conf, C-cleanup, S-ready-for-review

#1360 protocol: make own supported versions static to handshake file
  ciri/node/network/router.c
  ciri/node/protocol/handshake.c
  ciri/node/protocol/handshake.h
Labels: A-node, C-cleanup, S-ready-for-review

#1359 consensus: remove tips solidifier and improve milestone solidifier
  ciri/README.md
  ciri/api/api.c
  ciri/api/tests/test_check_consistency.c
  ciri/api/tests/test_get_node_info.c
  ciri/api/tests/test_get_transactions_to_approve.c
  ciri/conf.c
  ciri/conf.example.yml
  ciri/consensus/ledger_validator/ledger_validator.c
  ciri/consensus/ledger_validator/tests/test_ledger_validator.c
  ciri/consensus/milestone/milestone_tracker.c
  ciri/consensus/milestone/milestone_tracker.h
  ciri/consensus/snapshot/local_snapshots/local_snapshots_manager.c
  ciri/consensus/snapshot/snapshots_service.c
  ciri/consensus/tangle/tangle.c
  ciri/consensus/tangle/tangle.h
  ciri/consensus/tip_selection/entry_point_selector/entry_point_selector.c
  ciri/consensus/tip_selection/entry_point_selector/tests/test_entry_point_selector.c
  ciri/consensus/tip_selection/exit_probability_randomizer/tests/test_exit_probability_randomizer.c
  ciri/consensus/tip_selection/exit_probability_validator/exit_probability_validator.c
  ciri/consensus/tip_selection/exit_probability_validator/tests/exit_probability_validator.c
  ciri/node/BUILD
  ciri/node/conf.c
  ciri/node/conf.h
  ciri/node/node.c
  ciri/node/node.h
  ciri/node/pipeline/BUILD
  ciri/node/pipeline/tips_solidifier.c
  ciri/node/pipeline/tips_solidifier.h
  ciri/usage.h
  common/storage/sql/sqlite3/connection.c
  common/storage/sql/sqlite3/storage.c
  common/storage/sql/statements.c
  common/storage/sql/statements.h
  common/storage/storage.h
Labels: A-consensus, C-enhancement, S-ready-for-review

#1355 network: remove unused type desc
  ciri/node/network/BUILD
  ciri/node/network/neighbor.c
  ciri/node/network/neighbor.h
  ciri/node/network/router.c
  ciri/node/network/router.h
  ciri/node/protocol/BUILD
  ciri/node/protocol/protocol.h
  ciri/node/protocol/type.h
Labels: A-node, C-cleanup, S-ready-for-review

#1356 network: multiple write in a single async call
  ciri/node/network/router.c
Labels: A-node, C-enhancement, S-ready-for-review

#1364 conf: free neighbors from configuration file if given in CLI as well
  ciri/conf.c
Labels: A-conf, C-bug, S-ready-for-review

#1367 consensus: only try to apply snapshot on LSM + 1
  ciri/consensus/milestone/milestone_tracker.c
Labels: A-consensus, C-bug, S-ready-for-review

#1363 consensus: print remaining candidates for solidification
  ciri/consensus/milestone/milestone_tracker.c
Labels: A-consensus, C-enhancement, S-ready-for-review

#1368 consensus/spent_address: check only, no marking in db
  ciri/consensus/spent_addresses/spent_addresses_service.c
  ciri/consensus/spent_addresses/tests/test_spent_addresses_service.c
Labels: A-consensus

#1337 local_snapshots: transactions pruning
  ciri/conf.c
  ciri/consensus/consensus.c
  ciri/consensus/ledger_validator/tests/test_ledger_validator.c
  ciri/consensus/snapshot/BUILD
  ciri/consensus/snapshot/local_snapshots/BUILD
  ciri/consensus/snapshot/local_snapshots/conf.c
  ciri/consensus/snapshot/local_snapshots/conf.h
  ciri/consensus/snapshot/local_snapshots/local_snapshots_manager.c
  ciri/consensus/snapshot/local_snapshots/local_snapshots_manager.h
  ciri/consensus/snapshot/local_snapshots/pruning_service.c
  ciri/consensus/snapshot/local_snapshots/pruning_service.h
  ciri/consensus/snapshot/snapshot_metadata.c
  ciri/consensus/snapshot/snapshots_service.c
  ciri/consensus/snapshot/snapshots_service.h
  ciri/consensus/spent_addresses/spent_addresses_service.c
  ciri/consensus/spent_addresses/spent_addresses_service.h
  ciri/consensus/tangle/tangle.c
  ciri/consensus/tangle/tangle.h
  ciri/usage.h
  common/storage/sql/sqlite3/connection.c
  common/storage/sql/sqlite3/storage.c
  common/storage/sql/sqlite3/tests/test_sqlite3.c
  common/storage/sql/statements.c
  common/storage/sql/statements.h
  common/storage/storage.h
Labels: A-ciri, A-consensus, C-feature, P-high, S-ready-for-review

#1369 network: fix async write leak
  ciri/node/network/router.c
Labels: A-node, C-bug, S-ready-for-review

#1370 consensus/local_snapshots: min-depth - increase default value
  ciri/consensus/snapshot/local_snapshots/conf.c
Labels: A-ciri, A-consensus

#1372 network: use simple lock instead of rwlock
  ciri/node/network/neighbor.c
  ciri/node/network/neighbor.h
  ciri/node/network/router.c
Labels: A-node, C-enhancement, S-ready-for-review

#1374 consensus/local_snapshots: log sizes, fix typo
  ciri/api/api.c
  ciri/api/tests/test_broadcast_transactions.c
  ciri/consensus/ledger_validator/ledger_validator.c
  ciri/consensus/ledger_validator/tests/test_ledger_validator.c
  ciri/consensus/milestone/milestone_tracker.c
  ciri/consensus/milestone/tests/test_milestone_tracker.c
  ciri/consensus/snapshot/local_snapshots/local_snapshots_manager.c
  ciri/consensus/snapshot/local_snapshots/pruning_service.c
  ciri/consensus/snapshot/snapshots_provider.c
  ciri/consensus/snapshot/snapshots_provider.h
  ciri/consensus/snapshot/snapshots_service.c
  ciri/consensus/snapshot/state_delta.h
  ciri/consensus/tip_selection/exit_probability_randomizer/tests/test_exit_probability_randomizer.c
  ciri/consensus/tip_selection/exit_probability_validator/tests/exit_probability_validator.c
  ciri/consensus/transaction_solidifier/transaction_solidifier.c
  ciri/consensus/transaction_validator/tests/test_transaction_validator.c
  ciri/consensus/transaction_validator/transaction_validator.c
Labels: A-ciri, A-consensus

#1375 ciri: remove unnecessary rw_locks
  ciri/consensus/milestone/milestone_tracker.c
  ciri/consensus/milestone/milestone_tracker.h
  ciri/consensus/snapshot/local_snapshots/pruning_service.c
  ciri/consensus/snapshot/local_snapshots/pruning_service.h
  ciri/node/BUILD
  ciri/node/pipeline/BUILD
  ciri/node/pipeline/broadcaster.c
  ciri/node/pipeline/broadcaster.h
  ciri/node/pipeline/processor.c
  ciri/node/pipeline/processor.h
  ciri/node/pipeline/responder.c
  ciri/node/pipeline/responder.h
  ciri/node/recent_seen_bytes_cache.c
  ciri/node/recent_seen_bytes_cache.h
Labels: A-ciri, C-enhancement, S-ready-for-review

#1378 consensus/local_snapshots: fix blocking wait on cond var
  ciri/consensus/snapshot/local_snapshots/local_snapshots_manager.c
Labels: A-ciri, A-consensus

#1371 flex_trits_insert: check for aligned trits to use memcpy
  common/trinary/flex_trit.c
  common/trinary/tests/test_flex_trit.c
Labels: A-common, C-enhancement

#1380 node: hasher stage
  ciri/consensus/snapshot/state_delta.h
  ciri/main.c
  ciri/node/BUILD
  ciri/node/node.c
  ciri/node/node.h
  ciri/node/pipeline/BUILD
  ciri/node/pipeline/hasher.c
  ciri/node/pipeline/hasher.h
  ciri/node/pipeline/processor.c
  ciri/node/pipeline/processor.h
  ciri/node/pipeline/responder.c
  ciri/node/pipeline/responder.h
Labels: A-node, C-enhancement, S-ready-for-review

#1354 node: requester refactoring
  ciri/README.md
  ciri/api/tests/test_get_missing_transactions.c
  ciri/api/tests/test_get_node_info.c
  ciri/conf.c
  ciri/conf.example.yml
  ciri/consensus/milestone/milestone_tracker.c
  ciri/consensus/snapshot/BUILD
  ciri/consensus/transaction_solidifier/transaction_solidifier.c
  ciri/consensus/transaction_solidifier/transaction_solidifier.h
  ciri/consensus/transaction_validator/transaction_validator.c
  ciri/node/BUILD
  ciri/node/conf.c
  ciri/node/conf.h
  ciri/node/network/neighbor.c
  ciri/node/node.c
  ciri/node/node.h
  ciri/node/pipeline/BUILD
  ciri/node/pipeline/responder.c
  ciri/node/pipeline/responder.h
  ciri/node/pipeline/transaction_requester.c
  ciri/node/pipeline/transaction_requester.h
  ciri/node/pipeline/transaction_requester_worker.c
  ciri/node/pipeline/transaction_requester_worker.h
  ciri/usage.h
Labels: A-node, C-enhancement

#1381 consensus: quick validation of milestones
  ciri/consensus/milestone/milestone_tracker.c
  ciri/consensus/milestone/milestone_tracker.h
  ciri/consensus/tangle/traversal.c
  ciri/consensus/transaction_solidifier/transaction_solidifier.c
  ciri/consensus/transaction_solidifier/transaction_solidifier.h
Labels: A-consensus, C-enhancement, S-ready-for-review

#1384 node: validation stage
  ciri/main.c
  ciri/node/BUILD
  ciri/node/node.c
  ciri/node/node.h
  ciri/node/pipeline/BUILD
  ciri/node/pipeline/hasher.c
  ciri/node/pipeline/hasher.h
  ciri/node/pipeline/validator.c
  ciri/node/pipeline/validator.h
Labels: A-node, C-enhancement, S-ready-for-review

#1385 crypto: remove unused legacy files
  common/crypto/curl-p/bct.h
  common/crypto/curl-p/curl_p_b_s.c
  common/crypto/curl-p/curl_p_b_s.h
  common/crypto/curl-p/curl_p_s.c
  common/crypto/curl-p/curl_p_s.h
  common/crypto/curl-p/curl_s_digest.h
Labels: A-crypto, C-cleanup, S-ready-for-review

#1373 cclient: update readme.md
  README.md
  cclient/README.md
  cclient/api/BUILD
Labels: A-cclient, C-documentation, S-ready-for-review

#1388 router: do not print warning if write failed due to connection canceled or reset
  ciri/node/network/router.c
Labels: A-node, C-bug, S-ready-for-review

#1386 node: is_synced method
  ciri/api/api.c
  ciri/api/api.h
  ciri/api/tests/test_check_consistency.c
  ciri/api/tests/test_get_transactions_to_approve.c
  ciri/node/node.c
  ciri/node/node.h
  ciri/node/pipeline/responder.c
  ciri/node/pipeline/responder.h
  common/errors.h
Labels: A-node, C-feature, S-ready-for-review

#1387 node: was requested set
  ciri/consensus/transaction_validator/transaction_validator.c
  ciri/node/pipeline/BUILD
  ciri/node/pipeline/transaction_requester.c
  ciri/node/pipeline/transaction_requester.h
Labels: A-node, C-enhancement, S-ready-for-review
