Repository iotaledger/entangled, pull requests merged in 2019-03, with the labels that each got.

#896 mam2/sponge: switch back to troika
  mam/v2/troika/BUILD
  mam/v2/troika/troika.c
  mam/v2/troika/troika.h
Labels: A-mam2, C-bug

#866 mam2/message: allow multiple matching keys
  mam/v2/api/tests/test_api.c
  mam/v2/mam/message.c
Labels: A-mam2, C-enhancement

#867 mam2: new tag scheme
  mam/v2/api/api.c
  mam/v2/api/tests/BUILD
  mam/v2/examples/send.c
  mam/v2/mam/message.c
  mam/v2/mam/message.h
  mam/v2/mam/tests/test_message.c
  mam/v2/trits/trits.c
Labels: A-mam2

#899 mam2: multiple packet test
  mam/v2/api/api.c
  mam/v2/api/api.h
  mam/v2/api/tests/test_api.c
  utils/containers/map.c.tpl
  utils/containers/map.h.tpl
Labels: A-mam2

#904 mam/trits: use memcpy and memset
  mam/v2/trits/trits.c
  mam/v2/trits/trits.h
Labels: A-mam2, C-enhancement

#905 cclient: remove flex_hash_array_t
  cclient/iota_client_extended_api.h
  cclient/types/types.c
  cclient/types/types.h
Labels: A-cclient, C-cleanup

#911 mam: ch/ep ids reference MSS root
  mam/api/api.c
  mam/mam/channel.c
  mam/mam/channel.h
  mam/mam/endpoint.c
  mam/mam/endpoint.h
  mam/mam/tests/test_channel.c
  mam/mam/tests/test_endpoint.c
  mam/mss/mss.c
Labels: A-mam2, C-enhancement

#916 cclient: fixing compiler warnings.
  cclient/api/extended/promote_transaction.c
  cclient/response/check_consistency.c
  cclient/response/check_consistency.h
  cclient/serialization/json/broadcast_transactions.c
  common/trinary/ptrit.h
  common/trinary/ptrit_incr.c
Labels: A-cclient, C-cleanup

#917 mam/api: save/load
  common/errors.h
  mam/api/api.c
  mam/api/api.h
  mam/api/tests/test_api.c
  mam/mam/message.c
  mam/mam/tests/test_message.c
  utils/containers/map.c.tpl
  utils/containers/map.h.tpl
Labels: A-mam2

#809 infra: keeping system and IDE files in the global gitignore.
  .gitignore
  CONTRIBUTING.md
Labels: A-infra, C-cleanup

#921 mam: examples readme
  mam/examples/README.md
  mam/examples/send-header.c
  mam/examples/send-msg.c
  mam/examples/send-packet.c
Labels: A-mam2

#927 mam/api: avoid read context duplication
  mam/api/api.c
Labels: A-mam2

#924 mam/examples: fix ordering of transactions
  mam/examples/common.c
Labels: A-mam2, C-bug

#930 mam: add spec pdf
  mam/spec.pdf
Labels: A-mam2

#803 Optimized curl transform formulas
  common/curl-p/ptrit.c
Labels: A-crypto, C-enhancement

#933 mam: use memset_safe
  mam/api/api.c
  mam/mam/message.c
  mam/ntru/ntru.c
  mam/ntru/ntru_types.c
  mam/ntru/ntru_types.h
  mam/prng/prng.c
  mam/psk/psk.c
  mam/psk/psk.h
  mam/trits/trits.h
  mam/wots/wots.c
Labels: A-mam2

#932 mam: clean test_utils
  mam/mam/tests/BUILD
  mam/mam/tests/test_channel.c
  mam/mam/tests/test_endpoint.c
  mam/mss/tests/BUILD
  mam/mss/tests/test_mss.c
  mam/ntru/tests/BUILD
  mam/ntru/tests/test_ntru.c
  mam/prng/tests/BUILD
  mam/prng/tests/test_prng.c
  mam/sponge/tests/BUILD
  mam/sponge/tests/test_sponge.c
  mam/sponge/tests/test_spongos.c
  mam/test_utils/BUILD
  mam/test_utils/test_utils.c
  mam/test_utils/test_utils.h
  mam/wots/tests/BUILD
  mam/wots/tests/test_wots.c
Labels: A-mam2

#936 mam: check packet ord
  common/errors.h
  mam/api/api.c
Labels: A-mam2

#938 mam: rollback ctx on read failure
  mam/api/api.c
Labels: A-mam2

#937 mam/msg: rename send/recv functions and types
  mam/api/BUILD
  mam/api/api.c
  mam/api/api.h
  mam/api/tests/test_api.c
  mam/mam/message.c
  mam/mam/message.h
  mam/mam/tests/test_message.c
Labels: A-mam2

#939 mam/psk: clean and documentation
  common/errors.h
  mam/api/tests/test_api.c
  mam/mam/message.c
  mam/mam/tests/test_message.c
  mam/psk/BUILD
  mam/psk/psk.c
  mam/psk/psk.h
  mam/psk/tests/BUILD
  mam/psk/tests/test_psk.c
  utils/containers/set.h.tpl
Labels: A-mam2, C-cleanup

#940 mam/api: chid in write ctx
  mam/api/api.c
  mam/api/api.h
  mam/api/tests/test_api.c
  mam/examples/send-common.c
  mam/examples/send-common.h
  mam/examples/send-msg.c
  mam/examples/send-packet.c
  mam/mam/message.c
  mam/mam/message.h
  mam/mam/tests/test_message.c
Labels: A-mam2

#943 mam/examples: fix send-msg
  mam/examples/send-msg.c
Labels: A-mam2

#949 mam/psk: add mam_psk_init convenience function
  mam/README.md
  mam/api/tests/BUILD
  mam/api/tests/test_api.c
  mam/mam/tests/BUILD
  mam/mam/tests/test_message.c
  mam/prng/prng_types.h
  mam/psk/BUILD
  mam/psk/psk.c
  mam/psk/psk.h
  mam/test_utils/BUILD
  mam/test_utils/test_utils.c
  mam/test_utils/test_utils.h
Labels: A-mam2

#915 get_balance - serialize response & deserialize request
  cclient/request/get_balances.h
  cclient/serialization/json/get_balances.c
  cclient/serialization/json/get_balances.h
  cclient/serialization/json/helpers.c
  cclient/serialization/json/helpers.h
  cclient/serialization/json/json_serializer.c
  cclient/serialization/json/tests/get_balances.c
  cclient/serialization/serializer.h
Labels: A-cclient

#953 README: add contributros table.
  README.md
Labels: documentation

#944 CClient - TLS socket and https client.
  WORKSPACE
  cclient/http/http.c
  cclient/http/http.h
  cclient/http/tests/test_http.c
  cclient/service.h
  common/error_strings.h
  common/errors.c
  common/errors.h
  utils/containers/lock_free/BUILD
  utils/containers/lock_free/lf_queue.c.tpl
  utils/containers/lock_free/lf_queue.h.tpl
  utils/containers/lock_free/queue_lf_generator.bzl
  utils/containers/lock_free/tests/BUILD
  utils/containers/lock_free/tests/queue_umm.c
  utils/handles/BUILD
  utils/handles/socket.c
  utils/handles/socket.h
Labels: A-cclient

#956 mam: ch/ep management
  mam/api/api.c
  mam/api/api.h
  mam/api/tests/test_api.c
  mam/mam/channel.c
  mam/mam/channel.h
  mam/mam/endpoint.c
  mam/mam/endpoint.h
  mam/mam/tests/test_channel.c
  mam/mam/tests/test_message.c
Labels: A-mam2, C-enhancement

#952 mam/ntru: clean and documentation
  common/errors.h
  mam/README.md
  mam/api/BUILD
  mam/api/tests/test_api.c
  mam/mam/BUILD
  mam/mam/message.c
  mam/mam/tests/test_message.c
  mam/ntru/BUILD
  mam/ntru/ntru.c
  mam/ntru/ntru.h
  mam/ntru/ntru_types.c
  mam/ntru/ntru_types.h
  mam/ntru/tests/BUILD
  mam/ntru/tests/test_ntru.c
  mam/ntru/tests/test_ntru_types.c
  mam/psk/psk.c
  mam/psk/psk.h
Labels: A-mam2, C-cleanup

#960 common/model: fix valueless signature validation
  common/model/bundle.c
  consensus/exit_probability_validator/tests/exit_probability_validator.c
Labels: A-cIRI, C-bug

#961 mam: handle ch/ep with their trytes ID
  mam/api/api.c
  mam/api/api.h
  mam/api/tests/BUILD
  mam/api/tests/test_api.c
  mam/examples/common.c
  mam/examples/common.h
  mam/examples/send-common.c
  mam/examples/send-common.h
  mam/examples/send-header.c
  mam/examples/send-msg.c
  mam/mam/channel.c
  mam/mam/endpoint.c
  mam/mam/tests/BUILD
  mam/mam/tests/test_channel.c
  mam/mam/tests/test_channel_utils.c
  mam/mam/tests/test_channel_utils.h
Labels: A-mam2, C-enhancement

#965 mam: fix all warnings
  common/curl-p/ptrit.c
  common/kerl/kerl.c
  mam/api/api.c
  mam/api/api.h
  mam/mam/channel.c
  mam/mam/channel.h
  mam/mam/endpoint.c
  mam/mam/endpoint.h
  mam/mam/message.c
  mam/mam/tests/test_message.c
  mam/mss/mss.c
  mam/mss/mss.h
  mam/prng/BUILD
  mam/prng/prng.c
  mam/prng/prng.h
  mam/prng/prng_types.c
  mam/prng/prng_types.h
  mam/prng/tests/BUILD
  mam/prng/tests/test_prng.c
  mam/prng/tests/test_prng_types.c
  mam/psk/psk.c
  mam/psk/tests/test_psk.c
  mam/sponge/sponge.c
  mam/wots/wots.c
Labels: A-mam2, C-cleanup

#955 cclient/serializer/json:get_neighbors - serialize response
  cclient/serialization/json/get_balances.c
  cclient/serialization/json/get_neighbors.c
  cclient/serialization/json/get_neighbors.h
  cclient/serialization/json/helpers.c
  cclient/serialization/json/helpers.h
  cclient/serialization/json/json_serializer.c
  cclient/serialization/json/tests/get_neighbors.c
  cclient/serialization/serializer.h
Labels: A-cclient

#942 log to review BUNDLE_INVALID_SIGNATURE bundle status
  consensus/milestone_tracker/milestone_tracker.c
Labels: A-consensus

#967 mam: use mam_pk_t, casts and missing returns
  mam/api/api.c
  mam/mam/channel.h
  mam/mam/message.c
  mam/mam/message.h
  mam/mam/tests/test_message.c
Labels: A-mam, C-cleanup

#971 common: move pow to helpers
  common/helpers/BUILD
  common/helpers/pow.c
  common/helpers/pow.h
  common/pow/BUILD
  common/pow/pow.c
  common/pow/pow.h
Labels: A-common, C-cleanup

#958 Cclient - add read/write method in response/request objects
  cclient/api/extended/promote_transaction.c
  cclient/api/extended/traverse_bundle.c
  cclient/request/add_neighbors.c
  cclient/request/add_neighbors.h
  cclient/request/attach_to_tangle.c
  cclient/request/attach_to_tangle.h
  cclient/request/broadcast_transactions.c
  cclient/request/broadcast_transactions.h
  cclient/request/check_consistency.h
  cclient/request/find_transactions.h
  cclient/request/get_balances.h
  cclient/request/get_inclusion_state.h
  cclient/request/get_trytes.h
  cclient/request/remove_neighbors.c
  cclient/request/remove_neighbors.h
  cclient/request/store_transactions.c
  cclient/request/store_transactions.h
  cclient/response/attach_to_tangle.c
  cclient/response/attach_to_tangle.h
  cclient/response/find_transactions.h
  cclient/response/get_balances.c
  cclient/response/get_balances.h
  cclient/response/get_inclusion_state.c
  cclient/response/get_inclusion_state.h
  cclient/response/get_neighbors.c
  cclient/response/get_node_info.h
  cclient/response/get_tips.h
  cclient/response/get_transactions_to_approve.c
  cclient/response/get_transactions_to_approve.h
  cclient/response/get_trytes.h
  cclient/serialization/json/get_balances.c
  cclient/serialization/json/helpers.c
  cclient/serialization/json/tests/add_neighbors.c
  cclient/serialization/json/tests/attach_to_tangle.c
  cclient/serialization/json/tests/get_balances.c
  cclient/serialization/json/tests/get_inclusion_states.c
  cclient/serialization/json/tests/store_transactions.c
  ciri/api/tests/test_add_neighbors.c
  ciri/api/tests/test_remove_neighbors.c
  common/error_strings.h
  common/errors.c
Labels: A-cclient

#978 ciri: fix json_logger_id MacOS link
  cclient/serialization/BUILD
Labels: A-ciri, C-bug, S-ready-for-review

#982 mam: remove mss_root field from ctx
  common/errors.h
  mam/api/api.c
  mam/api/api.h
  mam/api/tests/test_api.c
  mam/examples/recv.c
  mam/examples/send-header.c
  mam/examples/send-msg.c
  mam/examples/send-packet.c
  mam/mam/message.c
  mam/mam/message.h
  mam/mam/tests/test_message.c
Labels: A-mam, C-cleanup, S-ready-for-review

#977 Http api merged from th0br0
  WORKSPACE
  cclient/response/get_node_info.h
  cclient/serialization/BUILD
  cclient/serialization/json/add_neighbors.c
  cclient/serialization/json/broadcast_transactions.c
  cclient/serialization/json/find_transactions.c
  cclient/serialization/json/get_balances.c
  cclient/serialization/json/get_inclusion_state.c
  cclient/serialization/json/get_neighbors.c
  cclient/serialization/json/get_node_info.c
  cclient/serialization/json/get_node_info.h
  cclient/serialization/json/get_tips.c
  cclient/serialization/json/get_transactions_to_approve.c
  cclient/serialization/json/get_trytes.c
  cclient/serialization/json/json_serializer.c
  cclient/serialization/json/remove_neighbors.c
  cclient/serialization/json/store_transactions.c
  cclient/serialization/json/tests/get_node_info.c
  cclient/serialization/serializer.h
  ciri/BUILD
  ciri/api/BUILD
  ciri/api/api.c
  ciri/api/api.h
  ciri/api/conf.c
  ciri/api/conf.h
  ciri/api/http.c
  ciri/api/http.h
  ciri/api/tests/test_add_neighbors.c
  ciri/api/tests/test_broadcast_transactions.c
  ciri/api/tests/test_check_consistency.c
  ciri/api/tests/test_find_transactions.c
  ciri/api/tests/test_get_node_info.c
  ciri/api/tests/test_get_tips.c
  ciri/api/tests/test_get_transactions_to_approve.c
  ciri/api/tests/test_get_trytes.c
  ciri/api/tests/test_remove_neighbors.c
  ciri/api/tests/test_store_transactions.c
  ciri/conf.c
  ciri/core.c
  ciri/core.h
  ciri/db/ciri-testnet.db
  ciri/main.c
  common/errors.h
Labels: A-cclient, A-ciri

#983 crypto: add a sponge type
  common/crypto/curl-p/trit.h
  common/crypto/kerl/kerl.h
  common/crypto/sponge/BUILD
  common/crypto/sponge/sponge.c
  common/crypto/sponge/sponge.h
  common/crypto/sponge/tests/BUILD
  common/crypto/sponge/tests/test_sponge.c
  common/errors.h
Labels: A-crypto, C-feature, P-high, S-ready-for-review

#994 crypto: sponge ISS
  common/crypto/iss/normalize.c
  common/crypto/iss/v1/BUILD
  common/crypto/iss/v1/iss.c
  common/crypto/iss/v1/iss.c.inc
  common/crypto/iss/v1/iss.h
  common/crypto/iss/v1/iss.h.inc
  common/crypto/iss/v1/tests/BUILD
  common/crypto/iss/v1/tests/test_iss.c
  common/crypto/iss/v2/iss.c.inc
  common/crypto/iss/v2/iss.h.inc
Labels: A-crypto, C-feature

#980 implement remove_neighbors serialization
  cclient/request/remove_neighbors.c
  cclient/request/remove_neighbors.h
  cclient/serialization/json/json_serializer.c
  cclient/serialization/json/remove_neighbors.c
  cclient/serialization/json/remove_neighbors.h
  cclient/serialization/json/tests/remove_neighbors.c
  cclient/serialization/serializer.h
Labels: A-cclient

#996 milestone_tracker: enable validation of milestones with additional hash modes and security levels
  common/crypto/iss/v1/iss.c
  common/crypto/iss/v1/iss.h
  consensus/consensus.c
  consensus/exit_probability_randomizer/tests/test_exit_probability_randomizer.c
  consensus/exit_probability_validator/tests/exit_probability_validator.c
  consensus/milestone_tracker/BUILD
  consensus/milestone_tracker/milestone_tracker.c
  consensus/milestone_tracker/milestone_tracker.h
  consensus/milestone_tracker/tests/BUILD
  consensus/milestone_tracker/tests/test_milestone_tracker.c
Labels: A-ciri, C-feature, S-ready-for-review

#998 crypto: rename hash init functions
  common/crypto/curl-p/curl_p.c
  common/crypto/curl-p/tests/test_cpu_hamming.c
  common/crypto/curl-p/tests/test_cpu_hashcash.c
  common/crypto/curl-p/tests/test_curlp.c
  common/crypto/curl-p/trit.h
  common/crypto/iss/v1/tests/test_iss.c
  common/crypto/iss/v1/tests/test_iss_curl.c
  common/crypto/iss/v1/tests/test_iss_kerl.c
  common/crypto/iss/v2/tests/test_iss_curl.c
  common/crypto/kerl/hash.c
  common/crypto/kerl/kerl.c
  common/crypto/kerl/kerl.h
  common/crypto/kerl/tests/test_kerl.c
  common/crypto/sponge/sponge.c
  common/helpers/digest.c
  common/helpers/pow.c
  common/helpers/sign.c
  common/model/bundle.c
  common/model/transaction.c
  common/model/transfer.c
  mam/examples/common.c
  mam/prototype/tests/test_mam.c
  mam/prototype/tests/test_mask.c
  utils/signed_files.c
  utils/tests/test_merkle.c
Labels: A-crypto, C-cleanup, S-ready-for-review

#997 common: moved transaction_array into transaction model.
  cclient/api/extended/find_transaction_objects.c
  cclient/api/extended/find_transaction_objects.h
  cclient/api/extended/get_transaction_objects.c
  cclient/api/extended/get_transaction_objects.h
  cclient/api/extended/replay_bundle.c
  cclient/api/extended/send_trytes.c
  cclient/api/extended/send_trytes.h
  cclient/serialization/json/remove_neighbors.c
  cclient/types/BUILD
  cclient/types/types.c
  cclient/types/types.h
  common/model/BUILD
  common/model/transaction.h
  mam/examples/common.c
Labels: A-common, C-cleanup

#969 implement get_tips response serialization
  cclient/response/get_tips.h
  cclient/serialization/json/get_tips.c
  cclient/serialization/json/get_tips.h
  cclient/serialization/json/helpers.c
  cclient/serialization/json/helpers.h
  cclient/serialization/json/json_serializer.c
  cclient/serialization/json/tests/get_tips.c
  cclient/serialization/serializer.h
Labels: A-cclient

#999 ciri: configurable coo options
  ciri/api/api.c
  ciri/api/tests/test_get_node_info.c
  ciri/conf.c
  ciri/usage.c
  ciri/usage.h
  common/crypto/sponge/sponge.h
  consensus/BUILD
  consensus/conf.bzl
  consensus/conf.c
  consensus/conf.h
  consensus/consensus.c
  consensus/exit_probability_randomizer/tests/test_exit_probability_randomizer.c
  consensus/exit_probability_validator/tests/exit_probability_validator.c
  consensus/milestone_tracker/milestone_tracker.c
  consensus/milestone_tracker/milestone_tracker.h
  consensus/milestone_tracker/tests/test_milestone_tracker.c
  consensus/snapshot/tests/test_snapshot.c
  gossip/components/processor.c
Labels: A-ciri, C-feature, S-ready-for-review

#1000 gossip: fix solid tips removal
  gossip/tips_cache.c
Labels: A-ciri, C-bug, S-ready-for-review

#1002 cclient: fix get_inclusion_states name inconsistencies
  cclient/api/core/get_inclusion_states.c
  cclient/api/core/get_inclusion_states.h
  cclient/api/extended/get_latest_inclusion.c
  cclient/api/extended/get_latest_inclusion.h
  cclient/request/get_inclusion_state.h
  cclient/request/get_inclusion_states.c
  cclient/request/get_inclusion_states.h
  cclient/request/requests.h
  cclient/response/get_inclusion_state.h
  cclient/response/get_inclusion_states.c
  cclient/response/get_inclusion_states.h
  cclient/response/responses.h
  cclient/serialization/json/get_inclusion_state.h
  cclient/serialization/json/get_inclusion_states.c
  cclient/serialization/json/get_inclusion_states.h
  cclient/serialization/json/json_serializer.c
  cclient/serialization/json/tests/get_inclusion_states.c
  cclient/serialization/serializer.h
  ciri/api/api.c
  ciri/api/api.h
Labels: A-cclient, C-cleanup, S-ready-for-review

#1001 api/http: implement endpoints
  ciri/api/http.c
Labels: A-api, C-feature, S-ready-for-review

#1003 snapshot: fix state_delta misaligned address
  consensus/snapshot/state_delta.c
Labels: A-consensus, C-bug, S-ready-for-review

#1004 cclient: update README
  cclient/README.md
Labels: A-cclient, C-documentation, S-ready-for-review

#1010 ciri: CLI option to skip snapshot validation
  ciri/README.md
  ciri/api/tests/test_check_consistency.c
  ciri/api/tests/test_get_transactions_to_approve.c
  ciri/conf.c
  ciri/usage.h
  consensus/conf.c
  consensus/conf.h
  consensus/exit_probability_randomizer/tests/test_exit_probability_randomizer.c
  consensus/exit_probability_validator/tests/exit_probability_validator.c
  consensus/snapshot/snapshot.c
  consensus/snapshot/tests/test_snapshot.c
Labels: A-ciri, C-feature, S-ready-for-review

#1007 api: add error response
  cclient/response/error.c
  cclient/response/error.h
  cclient/response/responses.h
  cclient/serialization/json/error.c
  cclient/serialization/json/error.h
  cclient/serialization/json/json_serializer.c
  cclient/serialization/json/tests/BUILD
  cclient/serialization/json/tests/error.c
  cclient/serialization/json/tests/shared.h
  cclient/serialization/serializer.h
  ciri/api/api.c
  ciri/api/api.h
  ciri/api/http.c
  ciri/api/tests/test_add_neighbors.c
  ciri/api/tests/test_broadcast_transactions.c
  ciri/api/tests/test_check_consistency.c
  ciri/api/tests/test_find_transactions.c
  ciri/api/tests/test_get_node_info.c
  ciri/api/tests/test_get_tips.c
  ciri/api/tests/test_get_transactions_to_approve.c
  ciri/api/tests/test_get_trytes.c
  ciri/api/tests/test_remove_neighbors.c
  ciri/api/tests/test_store_transactions.c
Labels: A-api, C-feature, S-ready-for-review

#1011 mam/examples: check return and clean
  mam/examples/common.c
Labels: A-mam, C-cleanup, S-ready-for-review

#1012 cclient: fixing memory issues.
  cclient/api/extended/is_promotable.c
  cclient/api/extended/send_trytes.c
Labels: A-cclient, C-bug, S-ready-for-review

#1014 ciri: do not exit if missing snapshot conf file
  consensus/conf.c
Labels: A-ciri, C-bug, S-ready-for-review

#1009 cclient/json: get_trytes - serialization
  cclient/serialization/json/get_trytes.c
  cclient/serialization/json/get_trytes.h
  cclient/serialization/json/json_serializer.c
  cclient/serialization/json/tests/get_trytes.c
  cclient/serialization/serializer.h
Labels: A-cclient

#1040 cclient: get_balances milestone cleanup
  cclient/response/get_balances.c
  cclient/response/get_balances.h
  cclient/serialization/json/get_balances.c
  cclient/serialization/json/tests/get_balances.c
Labels: A-cclient, C-cleanup

#995 find_transactions serialize response deserialize request
  cclient/serialization/json/error.c
  cclient/serialization/json/find_transactions.c
  cclient/serialization/json/find_transactions.h
  cclient/serialization/json/helpers.c
  cclient/serialization/json/helpers.h
  cclient/serialization/json/json_serializer.c
  cclient/serialization/json/tests/find_transactions.c
  cclient/serialization/serializer.h
Labels: A-cclient

#1041 model/transaction: introduce usual flex sizes
  common/defs.h
  common/model/transaction.c
  common/model/transaction.h
Labels: A-common, C-enhancement, S-ready-for-review

#1013 gossip: keep requester list fresh
  gossip/components/transaction_requester.c
Labels: A-gossip, C-enhancement, S-ready-for-review

#1006 exit_prob_validator: fix non-confirmed transactions validation
  ciri/api/BUILD
  ciri/api/api.c
  ciri/api/api.h
  ciri/usage.h
  consensus/conf.h
  consensus/exit_probability_validator/exit_probability_validator.c
Labels: A-consensus, C-bug, S-ready-for-review

#1045 conf: configurable http api port
  ciri/api/conf.c
  ciri/api/conf.h
  ciri/api/http.c
  ciri/conf.c
  ciri/usage.h
Labels: A-api, C-feature, S-ready-for-review
