Repository iotaledger/entangled, pull requests merged in 2019-01, with the labels that each got.

#651 milestone_tracker: fix milestone solidifier sleep value
  consensus/milestone_tracker/milestone_tracker.c
  consensus/milestone_tracker/milestone_tracker.h
Labels: A-consensus, C-bug

#654 logger: fix lock reinit undefined behavior
  cclient/iota_client_core_api.c
  cclient/iota_client_extended_api.c
  cclient/serialization/json/json_serializer.c
  cclient/types/types.c
  ciri/api/api.c
  ciri/core.c
  ciri/main.c
  common/errors.h
  common/model/transfer.c
  common/storage/sql/sqlite3/connection.c
  common/storage/sql/sqlite3/storage.c
  consensus/bundle_validator/bundle_validator.c
  consensus/conf.c
  consensus/consensus.c
  consensus/cw_rating_calculator/cw_rating_calculator.c
  consensus/entry_point_selector/entry_point_selector.c
  consensus/exit_probability_randomizer/exit_probability_randomizer.c
  consensus/exit_probability_validator/exit_probability_validator.c
  consensus/ledger_validator/ledger_validator.c
  consensus/milestone_tracker/milestone_tracker.c
  consensus/snapshot/snapshot.c
  consensus/tangle/tangle.c
  consensus/tip_selector/tip_selector.c
  consensus/transaction_solidifier/transaction_solidifier.c
  consensus/transaction_validator/transaction_validator.c
  gossip/components/broadcaster.c
  gossip/components/processor.c
  gossip/components/receiver.c
  gossip/components/responder.c
  gossip/components/tips_requester.c
  gossip/components/transaction_requester.c
  gossip/node.c
  gossip/services/receiver.cc
  gossip/services/tcp_receiver.cc
  utils/BUILD
  utils/logger_helper.c
  utils/logger_helper.h
Labels: A-common

#655 gossip: tips solidifier implementation
  consensus/transaction_solidifier/transaction_solidifier.c
  consensus/transaction_solidifier/transaction_solidifier.h
  gossip/BUILD
  gossip/components/BUILD
  gossip/components/tips_solidifier.c
  gossip/components/tips_solidifier.h
  gossip/node.c
  gossip/node.h
Labels: A-consensus, A-gossip

#656 storage: TLS prepared statements
  common/storage/connection.h
  common/storage/sql/sqlite3/BUILD
  common/storage/sql/sqlite3/connection.c
  common/storage/sql/sqlite3/connection.h
  common/storage/sql/sqlite3/storage.c
  common/storage/sql/sqlite3/tests/test_sqlite3.c
  common/storage/sql/sqlite3/wrappers.c
  common/storage/sql/sqlite3/wrappers.h
  common/storage/sql/statements.h
  common/storage/storage.h
  consensus/tangle/tangle.c
  consensus/tangle/tangle.h
Labels: A-storage, C-enhancement

#660 common/trinary: trits and trytes conversions optimizations
  common/trinary/trit_tryte.c
  common/trinary/trit_tryte.h
Labels: A-common, C-enhancement

#661 common/trinary: trits and bytes conversions optimizations
  common/defs.h
  common/trinary/BUILD
  common/trinary/flex_trit.c
  common/trinary/flex_trit.h
  common/trinary/tests/test_trit_byte.c
  common/trinary/trit_byte.c
  common/trinary/trit_byte.h
  common/trinary/trit_long.h
  common/trinary/trit_ptrit.c
  common/trinary/trit_ptrit.h
  common/trinary/trit_tryte.c
  common/trinary/trit_tryte.h
  common/trinary/trits.h
  common/trinary/tryte.h
  common/trinary/tryte_ascii.c
  common/trinary/tryte_long.c
  common/trinary/tryte_long.h
Labels: A-common, C-enhancement

#664 utils: forced inline macro and inline sboxes
  common/curl-p/BUILD
  common/curl-p/const.c
  common/curl-p/const.h
  common/curl-p/curl_p.c
  common/curl-p/curl_p_bct.c
  common/curl-p/ptrit.c
  common/curl-p/ptrit.h
  common/curl-p/trit.h
  utils/BUILD
  utils/forced_inline.h
Labels: A-crypto, A-utils, C-enhancement

#672 utils/logger: lock depending on the log level
  cclient/iota_client_core_api.c
  cclient/iota_client_extended_api.c
  cclient/serialization/json/json_serializer.c
  cclient/types/types.c
  ciri/api/api.c
  ciri/core.c
  ciri/main.c
  common/model/transfer.c
  common/storage/BUILD
  common/storage/pack.c
  common/storage/sql/sqlite3/connection.c
  common/storage/sql/sqlite3/storage.c
  consensus/bundle_validator/bundle_validator.c
  consensus/conf.c
  consensus/consensus.c
  consensus/cw_rating_calculator/cw_rating_calculator.c
  consensus/cw_rating_calculator/cw_rating_calculator.h
  consensus/cw_rating_calculator/cw_rating_dfs_impl.c
  consensus/entry_point_selector/entry_point_selector.c
  consensus/exit_probability_randomizer/exit_prob_map.c
  consensus/exit_probability_randomizer/exit_probability_randomizer.c
  consensus/exit_probability_randomizer/walker.c
  consensus/exit_probability_validator/exit_probability_validator.c
  consensus/ledger_validator/ledger_validator.c
  consensus/milestone_tracker/milestone_tracker.c
  consensus/snapshot/snapshot.c
  consensus/tangle/tangle.c
  consensus/tip_selector/tip_selector.c
  consensus/transaction_solidifier/transaction_solidifier.c
  consensus/transaction_validator/transaction_validator.c
  gossip/components/broadcaster.c
  gossip/components/processor.c
  gossip/components/receiver.c
  gossip/components/responder.c
  gossip/components/tips_requester.c
  gossip/components/tips_solidifier.c
  gossip/components/transaction_requester.c
  gossip/components/transaction_requester_worker.c
  gossip/node.c
  gossip/services/receiver.cc
  gossip/services/tcp_receiver.cc
  gossip/services/tcp_sender.cc
  gossip/services/udp_sender.cc
  utils/files.c
  utils/logger_helper.c
  utils/logger_helper.h
Labels: A-utils, C-enhancement

#673 common/trinary: fix flex_trits_from_bytes
  common/trinary/flex_trit.c
Labels: A-common

#614 gossip: TCP neighbour pairing
  ciri/main.c
  gossip/neighbor.c
  gossip/services/BUILD
  gossip/services/receiver.h
  gossip/services/tcp_receiver.cc
  gossip/services/tcp_receiver.hpp
  gossip/services/tcp_sender.cc
  gossip/services/tcp_sender.hpp
Labels: A-gossip

#665 common: implementing finalize_bundle.
  common/model/BUILD
  common/model/bundle.c
  common/model/bundle.h
  common/model/tests/test_bundle.c
  common/model/transaction.c
  common/model/transaction.h
  common/model/transfer.h
  consensus/bundle_validator/bundle_validator.c
Labels: A-common

#675 common: removed unnecessary kerl_init.
  common/helpers/checksum.c
  common/kerl/hash.c
  common/model/tests/test_transfer.c
  common/model/transfer.c
  consensus/bundle_validator/bundle_validator.c
Labels: C-cleanup

#680 mam2: add test_utils
  mam/v2/test_utils/BUILD
  mam/v2/test_utils/test_utils.c
  mam/v2/test_utils/test_utils.h
Labels: A-mam2

#681 mam2: replace err_t with retcode_t
  mam/v2/BUILD
  mam/v2/mam/mam.c
  mam/v2/mam/mam.h
  mam/v2/mam/tests/test_mam.c
  mam/v2/mss/BUILD
  mam/v2/mss/mss.c
  mam/v2/mss/mss.h
  mam/v2/mss/tests/test_mss.c
  mam/v2/ntru/ntru.c
  mam/v2/ntru/ntru.h
  mam/v2/pb3/BUILD
  mam/v2/pb3/pb3.c
  mam/v2/pb3/pb3.h
  mam/v2/pb3/tests/test_pb3.c
  mam/v2/prng/BUILD
  mam/v2/prng/prng.c
  mam/v2/prng/prng.h
  mam/v2/wots/wots.c
  mam/v2/wots/wots.h
Labels: A-mam2, C-cleanup

#685 mam2: remove unused ialloc
  mam/v2/BUILD
  mam/v2/alloc.c
  mam/v2/alloc.h
  mam/v2/defs.h
  mam/v2/mam/BUILD
  mam/v2/mam/mam.c
  mam/v2/mam/mam.h
  mam/v2/mam/tests/test_mam.c
  mam/v2/mss/BUILD
  mam/v2/mss/mss.c
  mam/v2/mss/mss.h
  mam/v2/mss/tests/test_mss.c
  mam/v2/ntru/BUILD
  mam/v2/ntru/ntru.c
  mam/v2/ntru/ntru.h
  mam/v2/pb3/BUILD
  mam/v2/pb3/pb3.c
  mam/v2/pb3/pb3.h
  mam/v2/prng/BUILD
  mam/v2/prng/prng.c
  mam/v2/prng/prng.h
  mam/v2/test_utils/BUILD
  mam/v2/test_utils/test_utils.c
  mam/v2/test_utils/test_utils.h
  mam/v2/trits/BUILD
  mam/v2/trits/trits.c
  mam/v2/trits/trits.h
  mam/v2/wots/BUILD
  mam/v2/wots/wots.c
  mam/v2/wots/wots.h
Labels: A-mam2

#691 mam2: add C++ extern C guards
  mam/v2/defs.h
  mam/v2/list.h
  mam/v2/mam/mam.h
  mam/v2/mss/mss.h
  mam/v2/ntru/ntru.h
  mam/v2/ntru/poly.h
  mam/v2/ntru/poly_param.h
  mam/v2/pb3/pb3.h
  mam/v2/prng/prng.h
  mam/v2/sponge/sponge.h
  mam/v2/sponge/spongos.h
  mam/v2/test_utils/test_utils.h
  mam/v2/trits/buffers.h
  mam/v2/trits/trits.h
  mam/v2/wots/wots.h
Labels: A-mam2, C-enhancement

#693 mam2: replace custom bool_t with stdbool
  mam/v2/defs.h
  mam/v2/mam/mam.c
  mam/v2/mam/mam.h
  mam/v2/mss/mss.c
  mam/v2/mss/mss.h
  mam/v2/mss/tests/test_mss.c
  mam/v2/ntru/ntru.c
  mam/v2/ntru/ntru.h
  mam/v2/ntru/poly.c
  mam/v2/ntru/poly.h
  mam/v2/pb3/pb3.c
  mam/v2/pb3/tests/test_pb3.c
  mam/v2/sponge/spongos.c
  mam/v2/sponge/spongos.h
  mam/v2/test_utils/test_utils.c
  mam/v2/trits/buffers.c
  mam/v2/trits/buffers.h
  mam/v2/trits/tests/test_trits.c
  mam/v2/trits/trits.c
  mam/v2/trits/trits.h
  mam/v2/wots/wots.c
  mam/v2/wots/wots.h
Labels: A-mam2, C-enhancement

#694 mam2: pb3 32bits fix
  common/errors.h
  mam/v2/pb3/pb3.c
  mam/v2/pb3/pb3.h
  mam/v2/pb3/tests/test_pb3.c
Labels: A-mam2, C-enhancement

#701 mam2: clean WOTS component
  mam/v2/mam/mam.c
  mam/v2/mss/tests/test_mss.c
  mam/v2/test_utils/test_utils.c
  mam/v2/test_utils/test_utils.h
  mam/v2/wots/tests/test_wots.c
  mam/v2/wots/wots.c
  mam/v2/wots/wots.h
Labels: A-mam2, C-cleanup

#688 common: moving bundle validation to common.
  common/model/BUILD
  common/model/bundle.c
  common/model/bundle.h
  consensus/bundle_validator/bundle_validator.c
  consensus/bundle_validator/bundle_validator.h
  consensus/bundle_validator/tests/bundle_validator.c
  consensus/exit_probability_validator/tests/exit_probability_validator.c
Labels: A-common, A-consensus

#706 mam2: clean NTRU layer
  mam/v2/ntru/ntru.c
  mam/v2/ntru/ntru.h
  mam/v2/test_utils/test_utils.c
  mam/v2/test_utils/test_utils.h
Labels: A-mam2, C-cleanup

#704 mam2: clean polynom layer
  mam/v2/ntru/poly.c
  mam/v2/ntru/poly.h
  mam/v2/ntru/poly_param.h
  mam/v2/ntru/tests/test_poly.c
  mam/v2/wots/wots.c
Labels: A-mam2, C-cleanup

#710 Common/transaction: add more granularity in mask of loaded fields
  common/model/tests/test_bundle.c
  common/model/transaction.c
  common/model/transaction.h
  common/storage/sql/sqlite3/storage.c
  consensus/tangle/tangle.h
Labels: A-common, C-enhancement

#713 mam2: clean spongos layer
  mam/v2/pb3/pb3.h
  mam/v2/sponge/spongos.c
  mam/v2/sponge/spongos.h
Labels: A-mam2, C-cleanup

#709 mam/v2/mss - renaming and cleaning
  mam/v2/mam/mam.c
  mam/v2/mss/BUILD
  mam/v2/mss/mss.c
  mam/v2/mss/mss.h
  mam/v2/mss/tests/test_mss.c
  mam/v2/ntru/poly.c
Labels: A-mam2, C-cleanup

#717 mam2: sponge constness and nits
  mam/v2/sponge/sponge.c
  mam/v2/sponge/sponge.h
  mam/v2/test_utils/test_utils.h
Labels: A-mam2, C-cleanup

#700 cclient: added local PoW in attach_to_tangle. (WIP)
  cclient/iota_client_core_api.c
  cclient/iota_client_core_api.h
  cclient/iota_client_extended_api.c
  cclient/iota_client_extended_api.h
  common/error_strings.h
  common/errors.c
  common/errors.h
  common/helpers/BUILD
  common/helpers/pow.c
  common/helpers/pow.h
  common/helpers/tests/test_pow.cpp
  mobile/android/Interface.cpp
  mobile/android/Interface.h
  mobile/android/demo/DummyActivity.java
  mobile/android/java/Interface.java
  tanglescope/common/txauxiliary.cpp
Labels: A-cclient, S-ready-for-review

#629 cclient: prepare_transfers and send_transfer (WIP)
  cclient/BUILD
  cclient/iota_client_extended_api.c
  cclient/iota_client_extended_api.h
  common/error_strings.h
  common/errors.c
  common/errors.h
  common/helpers/BUILD
  common/helpers/sign.c
  common/model/bundle.c
  common/model/tests/defs.h
  common/model/tests/test_bundle.c
  common/model/tests/test_transfer.c
  common/model/transfer.c
  common/model/transfer.h
  common/sign/normalize.c
  common/sign/normalize.h
  consensus/milestone_tracker/milestone_tracker.c
  utils/signed_files.c
Labels: A-cclient, S-ready-for-review

#749 mam2: serialization of PSKs
  mam/v2/mam/BUILD
  mam/v2/mam/mam.c
  mam/v2/mam/mam_types.c
  mam/v2/mam/mam_types.h
  mam/v2/mam/tests/BUILD
  mam/v2/mam/tests/test_mam_types.c
  utils/containers/set.c.tpl
  utils/containers/set.h.tpl
  utils/containers/tests/test_set.c
Labels: A-mam2

#754 mam2: extract and clean channels and endpoints from the MAM layer
  mam/v2/mam/BUILD
  mam/v2/mam/alloc.h
  mam/v2/mam/channel.c
  mam/v2/mam/channel.h
  mam/v2/mam/endpoint.c
  mam/v2/mam/endpoint.h
  mam/v2/mam/mam.c
  mam/v2/mam/mam.h
  mam/v2/mam/tests/test_mam.c
Labels: A-mam2, C-cleanup
