Repository iotaledger/entangled, pull requests merged in 2019-10, with the labels that each got.

#1440 mam: zero init new channels and endpoints
  mam/mam/channel.c
  mam/mam/endpoint.c
Labels: A-mam, C-bug, S-ready-for-review

#1438 Implemented iota_client_get_unspent_address API.
  cclient/api/examples/cclient_examples.c
  cclient/api/examples/cclient_examples.h
  cclient/api/examples/example_get_unspent_address.c
  cclient/api/extended/get_account_data.c
  cclient/api/extended/get_inputs.c
  cclient/api/extended/get_new_address.c
  cclient/api/extended/get_new_address.h
Labels: A-cclient, C-feature, P-high, S-ready-for-review

#1441 utils: windows include for htonl
  utils/macros.h
Labels: A-utils, C-bug, S-ready-for-review

#1444 CClient: added iota_client_get_node_api_conf API.
  cclient/CMakeLists.txt
  cclient/README.md
  cclient/api/core/core_api.h
  cclient/api/core/doxy.txt
  cclient/api/core/get_node_api_conf.c
  cclient/api/core/get_node_api_conf.h
  cclient/api/examples/cclient_examples.c
  cclient/api/examples/cclient_examples.h
  cclient/api/examples/example_node_api_conf.c
  cclient/api/tests/BUILD
  cclient/api/tests/test_get_node_api_conf.c
  cclient/response/get_node_api_conf.h
  cclient/response/responses.h
  cclient/serialization/json/get_node_api_conf.c
  cclient/serialization/json/get_node_api_conf.h
  cclient/serialization/json/helpers.c
  cclient/serialization/json/helpers.h
  cclient/serialization/json/json_serializer.c
  cclient/serialization/json/tests/BUILD
  cclient/serialization/json/tests/get_node_api_conf.c
  cclient/serialization/json/tests/shared.h
  cclient/serialization/serializer.h
Labels: A-cclient, C-feature, S-ready-for-review

#1446 Infra: fixing the name of toolchain.
  tools/toolchains.rc
Labels: A-infra, C-bug, S-ready-for-review

#1450 CClient: fixing timestamp in the transaction.
  cclient/api/extended/prepare_transfers.c
Labels: A-cclient, C-bug, S-ready-for-review

#1445 utils: bundle miner (WIP)
  common/crypto/iss/normalize.c
  common/crypto/iss/normalize.h
  common/defs.h
  common/errors.h
  mobile/android/BUILD
  mobile/android/Interface.cpp
  mobile/android/Interface.h
  mobile/android/java/Interface.java
  mobile/ios/BUILD
  mobile/ios/Demo/Demo/Constants.h
  mobile/ios/Demo/Demo/Constants.m
  mobile/ios/Demo/Demo/ViewController.m
  mobile/ios/Interface.h
  mobile/ios/Interface.mm
  utils/BUILD
  utils/bundle_miner.c
  utils/bundle_miner.h
  utils/tests/BUILD
  utils/tests/test_bundle_miner.c
Labels: A-utils, C-feature
