Repository iotaledger/entangled, pull requests merged in 2019-04, with the labels that each got.

#1026 Cclient/serialization/json: store_transactions deserializations
  cclient/serialization/json/json_serializer.c
  cclient/serialization/json/store_transactions.c
  cclient/serialization/json/store_transactions.h
  cclient/serialization/json/tests/store_transactions.c
  cclient/serialization/serializer.h
  ciri/api/http.c
Labels: A-cclient, A-ciri

#1029 gossip: CLI option to enable/disable tip solidification
  ciri/conf.c
  ciri/usage.h
  consensus/conf.c
  consensus/conf.h
  gossip/conf.c
  gossip/conf.h
  gossip/node.c
Labels: A-gossip, C-feature, S-ready-for-review

#1044 storage: spent address schema
  ciri/db/ciri-mainnet.db
  ciri/db/ciri-testnet.db
  common/storage/defs.h
  common/storage/sql/defs.h
  common/storage/sql/schema.sql
  common/storage/sql/sqlite3/storage.c
  common/storage/sql/sqlite3/tests/test_sqlite3.c
  consensus/exit_probability_randomizer/tests/test_exit_probability_randomizer.c
  consensus/exit_probability_validator/tests/exit_probability_validator.c
  consensus/milestone_tracker/milestone_tracker.c
  gossip/components/transaction_requester.c
  gossip/components/transaction_requester_worker.c
Labels: A-storage, C-feature, S-ready-for-review

#1039 ciri/api: attach_to_tangle implementation
  cclient/request/attach_to_tangle.c
  ciri/api/BUILD
  ciri/api/api.c
  ciri/api/tests/BUILD
  ciri/api/tests/test_attach_to_tangle.c
  common/helpers/pow.c
Labels: A-api, C-feature, S-ready-for-review

#1055 ciri/api: add milestone candidates on store_transactions
  ciri/api/api.c
  ciri/api/tests/test_store_transactions.c
Labels: A-api, C-bug, S-ready-for-review

#1016 ciri: use condvars to signal running threads
  consensus/milestone_tracker/BUILD
  consensus/milestone_tracker/milestone_tracker.c
  consensus/milestone_tracker/milestone_tracker.h
  consensus/transaction_solidifier/BUILD
  consensus/transaction_solidifier/transaction_solidifier.c
  consensus/transaction_solidifier/transaction_solidifier.h
  gossip/components/BUILD
  gossip/components/broadcaster.c
  gossip/components/processor.c
  gossip/components/receiver.c
  gossip/components/responder.c
  gossip/components/tips_requester.c
  gossip/components/tips_requester.h
  gossip/components/tips_solidifier.c
  gossip/components/tips_solidifier.h
  gossip/components/transaction_requester.c
  gossip/components/transaction_requester.h
  gossip/components/transaction_requester_worker.c
  utils/handles/cond.h
Labels: A-ciri, C-enhancement, S-ready-for-review

#1017 cclient/serializer/json: get_transactions_to_approve serialization
  cclient/serialization/json/get_transactions_to_approve.c
  cclient/serialization/json/get_transactions_to_approve.h
  cclient/serialization/json/json_serializer.c
  cclient/serialization/json/tests/get_transactions_to_approve.c
  cclient/serialization/serializer.h
Labels: A-api, A-cclient

#1058 api/http: get_transactions_to_approve
  cclient/serialization/json/get_transactions_to_approve.c
  cclient/serialization/json/tests/get_transactions_to_approve.c
  ciri/api/http.c
Labels: A-api, C-feature, S-ready-for-review

#1051 CClient: Doxyfile and template
  Doxyfile
  cclient/api/core/add_neighbors.h
  cclient/api/core/attach_to_tangle.h
  cclient/api/core/broadcast_transactions.h
  cclient/api/core/doxy.txt
  cclient/api/extended/broadcast_bundle.h
  cclient/api/extended/doxy.txt
  cclient/api/extended/find_transaction_objects.h
  cclient/doxy.txt
  cclient/http/doxy.txt
  cclient/http/http.h
  cclient/request/add_neighbors.h
  cclient/request/doxy.txt
  cclient/response/add_neighbors.h
  cclient/response/doxy.txt
  cclient/serialization/doxy.txt
  cclient/serialization/json/add_neighbors.h
  cclient/serialization/json/doxy.txt
  cclient/serialization/serializer.h
  cclient/service.h
  ciri/doxy.txt
  common/crypto/curl-p/doxy.txt
  common/crypto/doxy.txt
  common/crypto/ftroika/doxy.txt
  common/crypto/iss/doxy.txt
  common/crypto/kerl/doxy.txt
  common/crypto/sponge/doxy.txt
  common/crypto/troika/doxy.txt
  common/doxy.txt
  common/error_strings.h
  common/errors.h
  common/helpers/doxy.txt
  common/model/doxy.txt
  common/network/doxy.txt
  common/storage/doxy.txt
  common/trinary/doxy.txt
  consensus/doxy.txt
  docs/doxygen/IOTA_Logo_black.png
  docs/doxygen/footer.html
  docs/doxygen/header.html
  docs/doxygen/layout.xml
  docs/doxygen/stylesheet.css
  gossip/doxy.txt
  mam/doxy.txt
  tanglescope/doxy.txt
  utils/doxy.txt
Labels: A-cclient, C-documentation, S-ready-for-review

#1063 consensus: clean cw_rating_calculator
  consensus/cw_rating_calculator/cw_rating_calculator.c
  consensus/cw_rating_calculator/cw_rating_calculator.h
  consensus/cw_rating_calculator/cw_rating_dfs_impl.c
  consensus/cw_rating_calculator/cw_rating_dfs_impl.h
Labels: A-consensus, C-cleanup, S-ready-for-review

#1065 api/http: find_transactions
  ciri/api/http.c
Labels: A-api, C-feature, S-ready-for-review

#1050 conf: arguments validation
  ciri/conf.c
  common/errors.c
  common/errors.h
Labels: A-conf, C-enhancement

#1068 consensus: create a new walker validator in tip selection
  consensus/consensus.c
  consensus/consensus.h
  consensus/tip_selector/tip_selector.c
  consensus/tip_selector/tip_selector.h
Labels: A-consensus, C-bug, S-ready-for-review

#1067 api: remote limit conf
  ciri/README.md
  ciri/api/conf.c
  ciri/api/conf.h
  ciri/api/http.c
  ciri/conf.c
  ciri/conf.h
  ciri/main.c
  ciri/usage.h
Labels: A-api, C-feature, S-ready-for-review

#1074 cppclient: were addresses spent from - impl
  cppclient/api.h
  cppclient/api_json.cc
  cppclient/api_json.h
  cppclient/messages.h
Labels: A-cppclient

#1073 storage: generic statement handles
  common/storage/sql/sqlite3/connection.c
  common/storage/sql/sqlite3/connection.h
  common/storage/sql/statements.h
Labels: A-storage, C-enhancement, S-ready-for-review

#1072 gossip: fix random removal of transaction request
  gossip/components/transaction_requester.c
Labels: A-gossip, C-bug, S-ready-for-review

#1064 ciri/api: get_balances endpoint
  cclient/response/get_balances.h
  cclient/serialization/json/get_balances.c
  ciri/api/api.c
  ciri/api/api.h
  ciri/api/http.c
  common/errors.h
  consensus/snapshot/snapshot.c
  consensus/snapshot/snapshot.h
  consensus/snapshot/state_delta.c
  consensus/snapshot/state_delta.h
Labels: A-api, C-feature, S-ready-for-review

#1059 ciri: little nits
  ciri/BUILD
  ciri/README.md
  ciri/api/BUILD
  ciri/conf.yml
  ciri/main.c
  ciri/usage.h
  config/BUILD
  consensus/BUILD
  gossip/BUILD
Labels: A-ciri, C-cleanup, S-ready-for-review

#1071 api: check that command is present and valid
  ciri/api/http.c
Labels: A-api, C-feature, S-ready-for-review

#1035 Implement get_inclusion_state serialization
  cclient/serialization/json/get_inclusion_states.c
  cclient/serialization/json/get_inclusion_states.h
  cclient/serialization/json/helpers.c
  cclient/serialization/json/helpers.h
  cclient/serialization/json/json_serializer.c
  cclient/serialization/json/tests/get_inclusion_states.c
  cclient/serialization/serializer.h
Labels: A-cclient

#1070 ciri: update snapshot configuration parsing
  ciri/README.md
  ciri/conf.c
  ciri/usage.h
  consensus/conf.bzl
  consensus/conf.c
  consensus/conf.h
  consensus/milestone_tracker/milestone_tracker.c
  consensus/milestone_tracker/tests/test_milestone_tracker.c
  consensus/snapshot/tests/snapshot_conf.json
  tools/snapshot.bzl
Labels: A-consensus, C-enhancement, S-ready-for-review

#1079 api: get_inclusion_states implementation
  cclient/response/get_inclusion_states.c
  cclient/response/get_inclusion_states.h
  cclient/serialization/json/get_inclusion_states.c
  cclient/serialization/json/tests/get_inclusion_states.c
  ciri/api/api.c
  ciri/api/api.h
  ciri/api/http.c
Labels: A-api, C-feature, S-ready-for-review

#1080 snapshot: verify signature only on mainnet
  consensus/conf.bzl
  consensus/snapshot/snapshot.c
Labels: A-consensus, C-bug, S-ready-for-review

#1082 api: documentation and reordering
  cclient/response/error.c
  cclient/response/error.h
  cclient/serialization/json/tests/error.c
  ciri/BUILD
  ciri/api/BUILD
  ciri/api/api.c
  ciri/api/api.h
  ciri/api/http/BUILD
  ciri/api/http/http.c
  ciri/api/http/http.h
  ciri/api/tests/test_check_consistency.c
  ciri/api/tests/test_get_transactions_to_approve.c
  ciri/main.c
Labels: A-api, C-cleanup, S-ready-for-review

#1083 ciri: compass release
  ciri/README.md
  ciri/conf.yml
  consensus/conf.bzl
  consensus/conf.h
  tools/snapshot.bzl
Labels: A-ciri, C-enhancement

#1053 Update getNeighbors res
  cclient/response/get_neighbors.c
  cclient/response/get_neighbors.h
  cclient/serialization/json/get_neighbors.c
  cclient/serialization/json/tests/get_neighbors.c
  cclient/serialization/json/tests/shared.h
Labels: A-api, A-cclient, A-ciri

#1091 ciri: fix high cpu load
  gossip/components/tips_requester.c
  gossip/components/tips_solidifier.c
  utils/handles/cond.h
Labels: A-utils, C-bug, S-ready-for-review

#1088 api: invalid JSON error response
  ciri/api/http/http.c
Labels: A-api, C-feature

#1081 api: get_neighbors implementation
  cclient/response/get_neighbors.h
  cclient/serialization/json/get_neighbors.c
  ciri/api/api.c
  ciri/api/tests/BUILD
  ciri/api/tests/test_get_neighbors.c
  common/network/network.h
  gossip/components/processor.c
  gossip/components/responder.c
  gossip/neighbor.c
  gossip/neighbor.h
Labels: A-api, C-feature, S-ready-for-review

#1092 common: implementing inputs model.
  cclient/api/BUILD
  cclient/api/extended/get_account_data.c
  cclient/api/extended/get_account_data.h
  cclient/api/extended/get_inputs.c
  cclient/api/extended/get_inputs.h
  cclient/api/extended/types.h
  common/model/BUILD
  common/model/inputs.h
  common/model/tests/BUILD
  common/model/tests/defs.h
  common/model/tests/test_inputs.c
Labels: A-cclient, A-common, C-enhancement, S-ready-for-review

#1094 infra: update dependencies
  WORKSPACE
Labels: A-infra, C-enhancement, S-ready-for-review

#1096 utils: use utash stack
  cclient/serialization/json/helpers.c
  cclient/serialization/json/tests/get_tips.c
  utils/containers/hash/hash_stack.c.tpl
  utils/containers/hash/hash_stack.h.tpl
  utils/containers/hash/tests/test_hash_stack.c
Labels: A-utils, C-enhancement, S-ready-for-review

#1095 Rename get_inclusion_states request field hashes
  cclient/api/extended/get_latest_inclusion.c
  cclient/request/get_inclusion_states.c
  cclient/request/get_inclusion_states.h
  cclient/serialization/json/get_inclusion_states.c
  cclient/serialization/json/tests/get_inclusion_states.c
  ciri/api/api.c
Labels: A-cclient, C-documentation

#1098 ciri: remove initial requests and tips
  common/storage/sql/sqlite3/connection.c
  common/storage/sql/sqlite3/storage.c
  common/storage/sql/statements.c
  common/storage/sql/statements.h
  common/storage/storage.h
  consensus/tangle/tangle.c
  consensus/tangle/tangle.h
  gossip/node.c
Labels: A-ciri, C-enhancement, S-ready-for-review

#1097 ciri: fix compilation warnings
  consensus/exit_probability_randomizer/exit_prob_map.c
  consensus/exit_probability_randomizer/global_calcs.c
  consensus/snapshot/state_delta.c
  utils/hash_indexed_map.c
  utils/hash_indexed_map.h
Labels: A-ciri, C-cleanup, S-ready-for-review

#1090 api: clean some implementations
  cclient/serialization/json/remove_neighbors.c
  ciri/api/api.c
  ciri/api/api.h
  ciri/api/tests/BUILD
  ciri/api/tests/test_add_neighbors.c
  ciri/api/tests/test_check_consistency.c
  ciri/api/tests/test_get_tips.c
  ciri/api/tests/test_get_transactions_to_approve.c
  ciri/api/tests/test_remove_neighbors.c
  common/network/BUILD
  common/network/uri.c
  common/network/uri.h
  gossip/BUILD
  gossip/neighbor.c
  gossip/tests/test_tips_cache.c
  gossip/tips_cache.c
  gossip/tips_cache.h
  utils/containers/hash/hash_set.h.tpl
Labels: A-api, C-enhancement, S-ready-for-review

#1099 api: get_missing_transactions implementation
  cclient/response/get_missing_transactions.c
  cclient/response/get_missing_transactions.h
  cclient/response/responses.h
  cclient/serialization/json/get_missing_transactions.c
  cclient/serialization/json/get_missing_transactions.h
  cclient/serialization/json/json_serializer.c
  cclient/serialization/json/tests/BUILD
  cclient/serialization/json/tests/get_missing_transactions.c
  cclient/serialization/serializer.h
  ciri/api/api.c
  ciri/api/api.h
  ciri/api/http/http.c
  ciri/api/tests/BUILD
  ciri/api/tests/test_get_missing_transactions.c
  ciri/api/tests/test_get_tips.c
  gossip/components/BUILD
  gossip/components/transaction_requester.c
  gossip/components/transaction_requester.h
Labels: A-api, C-feature, S-ready-for-review

#1100 conf: untrack configuration file
  .gitignore
  ciri/BUILD
  ciri/README.md
  ciri/conf.c
  ciri/conf.example.yml
  ciri/usage.h
Labels: A-conf, C-enhancement

#1108 storage: transaction validity
  common/model/bundle.h
  common/model/transaction.h
  common/storage/defs.h
  common/storage/sql/schema.sql
  common/storage/sql/sqlite3/storage.c
  common/storage/sql/statements.c
Labels: A-storage, C-enhancement, S-ready-for-review

#1102 ciri: database revalidation
  ciri/README.md
  ciri/conf.c
  ciri/conf.example.yml
  ciri/conf.h
  ciri/core.c
  ciri/main.c
  ciri/usage.c
  ciri/usage.h
  common/storage/sql/sqlite3/connection.c
  common/storage/sql/sqlite3/storage.c
  common/storage/sql/statements.c
  common/storage/sql/statements.h
  common/storage/storage.h
  consensus/tangle/tangle.c
  consensus/tangle/tangle.h
Labels: A-ciri, C-feature

#1114 infra: untrack databases
  .gitignore
  ciri/BUILD
  ciri/README.md
  ciri/db/.gitkeep
  ciri/db/ciri-mainnet.db
  ciri/db/ciri-testnet.db
Labels: A-infra, C-enhancement, S-ready-for-review

#1093 Doc: CClient Core APIs documentation.
  cclient/api/core/add_neighbors.c
  cclient/api/core/add_neighbors.h
  cclient/api/core/attach_to_tangle.c
  cclient/api/core/attach_to_tangle.h
  cclient/api/core/broadcast_transactions.c
  cclient/api/core/broadcast_transactions.h
  cclient/api/core/check_consistency.c
  cclient/api/core/check_consistency.h
  cclient/api/core/core_init.h
  cclient/api/core/doxy.txt
  cclient/api/core/find_transactions.c
  cclient/api/core/find_transactions.h
  cclient/api/core/get_balances.c
  cclient/api/core/get_balances.h
  cclient/api/core/get_inclusion_states.c
  cclient/api/core/get_inclusion_states.h
  cclient/api/core/get_neighbors.c
  cclient/api/core/get_neighbors.h
  cclient/api/core/get_node_info.c
  cclient/api/core/get_node_info.h
  cclient/api/core/get_tips.c
  cclient/api/core/get_tips.h
  cclient/api/core/get_transactions_to_approve.c
  cclient/api/core/get_transactions_to_approve.h
  cclient/api/core/get_trytes.c
  cclient/api/core/get_trytes.h
  cclient/api/core/logger.h
  cclient/api/core/remove_neighbors.c
  cclient/api/core/remove_neighbors.h
  cclient/api/core/store_transactions.c
  cclient/api/core/store_transactions.h
Labels: A-cclient, C-documentation, S-ready-for-review

#26 Add build rule for iOS static frameworks
  .clang-format
  .gitignore
  README.md
  WORKSPACE
  common/helpers/pow.h
  mobile/ios/BUILD
  mobile/ios/Demo/Demo.xcodeproj/project.pbxproj
  mobile/ios/Demo/Demo.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  mobile/ios/Demo/Demo.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  mobile/ios/Demo/Demo.xcodeproj/xcshareddata/xcschemes/EntangledDemo.xcscheme
  mobile/ios/Demo/Demo/AppDelegate.h
  mobile/ios/Demo/Demo/AppDelegate.m
  mobile/ios/Demo/Demo/Assets.xcassets/AppIcon.appiconset/Contents.json
  mobile/ios/Demo/Demo/Base.lproj/LaunchScreen.storyboard
  mobile/ios/Demo/Demo/Base.lproj/Main.storyboard
  mobile/ios/Demo/Demo/Constants.h
  mobile/ios/Demo/Demo/Constants.m
  mobile/ios/Demo/Demo/Info.plist
  mobile/ios/Demo/Demo/ViewController.h
  mobile/ios/Demo/Demo/ViewController.m
  mobile/ios/Demo/Demo/main.m
  mobile/ios/Demo/DemoTests/DemoTests.m
  mobile/ios/Demo/DemoTests/Info.plist
  mobile/ios/Demo/DemoTests/TestConstants.h
  mobile/ios/Demo/DemoTests/TestConstants.m
  mobile/ios/Demo/Frameworks/.gitkeep
  mobile/ios/Interface.h
  mobile/ios/Interface.mm
  mobile/ios/README.md
  tools/formatter
Labels: A-mobile, P-high

#1110 model: reduce the size of transaction field masks
  common/model/transaction.h
Labels: A-common, C-enhancement, S-ready-for-review

#1112 consensus: mark invalid bundles
  cclient/api/extended/get_bundle.c
  cclient/api/extended/promote_transaction.c
  common/model/bundle.c
  common/model/bundle.h
  common/storage/BUILD
  common/storage/sql/sqlite3/connection.c
  common/storage/sql/sqlite3/storage.c
  common/storage/sql/statements.c
  common/storage/sql/statements.h
  common/storage/storage.h
  consensus/bundle_validator/bundle_validator.c
  consensus/bundle_validator/bundle_validator.h
  consensus/bundle_validator/tests/bundle_validator.c
  consensus/tangle/BUILD
  consensus/tangle/tangle.c
  consensus/tangle/tangle.h
Labels: A-consensus, C-feature-request, S-ready-for-review

#1111 Doc: extended API documentation.
  cclient/api/extended/broadcast_bundle.c
  cclient/api/extended/broadcast_bundle.h
  cclient/api/extended/doxy.txt
  cclient/api/extended/extended_init.h
  cclient/api/extended/find_transaction_objects.c
  cclient/api/extended/find_transaction_objects.h
  cclient/api/extended/get_account_data.c
  cclient/api/extended/get_account_data.h
  cclient/api/extended/get_bundle.c
  cclient/api/extended/get_bundle.h
  cclient/api/extended/get_inputs.c
  cclient/api/extended/get_inputs.h
  cclient/api/extended/get_latest_inclusion.c
  cclient/api/extended/get_latest_inclusion.h
  cclient/api/extended/get_new_address.c
  cclient/api/extended/get_new_address.h
  cclient/api/extended/get_transaction_objects.c
  cclient/api/extended/get_transaction_objects.h
  cclient/api/extended/is_promotable.c
  cclient/api/extended/is_promotable.h
  cclient/api/extended/logger.h
  cclient/api/extended/prepare_transfers.c
  cclient/api/extended/prepare_transfers.h
  cclient/api/extended/promote_transaction.c
  cclient/api/extended/promote_transaction.h
  cclient/api/extended/replay_bundle.c
  cclient/api/extended/replay_bundle.h
  cclient/api/extended/send_transfer.c
  cclient/api/extended/send_transfer.h
  cclient/api/extended/send_trytes.c
  cclient/api/extended/send_trytes.h
  cclient/api/extended/store_and_broadcast.c
  cclient/api/extended/store_and_broadcast.h
  cclient/api/extended/traverse_bundle.c
  cclient/api/extended/traverse_bundle.h
  cclient/api/extended/types.h
Labels: A-cclient, C-documentation, S-ready-for-review

#1118 Doc: Request module documentation.
  cclient/request/add_neighbors.h
  cclient/request/attach_to_tangle.c
  cclient/request/attach_to_tangle.h
  cclient/request/broadcast_transactions.h
  cclient/request/check_consistency.h
  cclient/request/doxy.txt
  cclient/request/find_transactions.h
  cclient/request/get_balances.h
  cclient/request/get_inclusion_states.h
  cclient/request/get_transactions_to_approve.h
  cclient/request/get_trytes.h
  cclient/request/remove_neighbors.h
  cclient/request/store_transactions.h
Labels: A-cclient, C-documentation, S-ready-for-review

#1122 utils: fix current timestamp ms on windows
  utils/time.c
Labels: A-utils, C-bug, S-ready-for-review

#1140 common: remove duplicate errors
  ciri/core.c
  common/errors.c
  common/errors.h
  common/storage/pack.c
  common/storage/sql/sqlite3/storage.c
  consensus/conf.c
  consensus/milestone_tracker/milestone_tracker.c
  consensus/snapshot/snapshot.c
  gossip/components/receiver.c
  gossip/node.c
  utils/containers/hash/hash_map.c.tpl
  utils/containers/hash/hash_queue.c.tpl
  utils/containers/hash/hash_set.c.tpl
  utils/containers/hash/hash_stack.c.tpl
  utils/containers/map.c.tpl
  utils/containers/set.c.tpl
  utils/hash_indexed_map.c
  utils/signed_files.c
Labels: A-common, C-cleanup, S-ready-for-review

#1133 Doc: response module documentation.
  Doxyfile
  cclient/request/doxy.txt
  cclient/request/get_trytes.h
  cclient/response/add_neighbors.h
  cclient/response/attach_to_tangle.h
  cclient/response/check_consistency.h
  cclient/response/doxy.txt
  cclient/response/error.h
  cclient/response/find_transactions.h
  cclient/response/get_balances.c
  cclient/response/get_balances.h
  cclient/response/get_inclusion_states.c
  cclient/response/get_inclusion_states.h
  cclient/response/get_missing_transactions.h
  cclient/response/get_neighbors.c
  cclient/response/get_neighbors.h
  cclient/response/get_node_info.h
  cclient/response/get_tips.h
  cclient/response/get_transactions_to_approve.h
  cclient/response/get_trytes.h
  cclient/response/remove_neighbors.h
  cclient/serialization/json/tests/get_tips.c
Labels: A-cclient, C-documentation, S-ready-for-review

#1135 consensus: clean and test tail finder
  consensus/tangle/tangle.c
  consensus/tangle/tangle.h
  consensus/tangle/tests/BUILD
  consensus/tangle/tests/test_tangle.c
Labels: A-consensus, C-cleanup, S-ready-for-review

#1145 consensus: iota_tangle_bundle_load
  common/errors.h
  consensus/bundle_validator/bundle_validator.c
  consensus/bundle_validator/tests/bundle_validator.c
  consensus/exit_probability_validator/tests/exit_probability_validator.c
  consensus/tangle/tangle.c
  consensus/tangle/tangle.h
  consensus/tangle/tests/test_tangle.c
Labels: A-consensus, C-cleanup, S-ready-for-review

#1142 gossip: recent seen bytes cache
  ciri/README.md
  ciri/conf.c
  ciri/conf.example.yml
  ciri/usage.h
  gossip/BUILD
  gossip/components/processor.c
  gossip/components/responder.c
  gossip/conf.c
  gossip/conf.h
  gossip/iota_packet.h
  gossip/node.c
  gossip/node.h
  gossip/recent_seen_bytes_cache.c
  gossip/recent_seen_bytes_cache.h
  gossip/tests/BUILD
  gossip/tests/test_recent_seen_bytes_cache.c
  mam/api/api.c
  utils/containers/map.c.tpl
  utils/containers/map.h.tpl
  utils/containers/tests/test_map.c
Labels: A-gossip, C-feature, S-ready-for-review

#1147 cond: fix signed-unsigned comparison
  utils/handles/cond.h
Labels: A-utils, C-bug, S-ready-for-review
