Repository iotaledger/entangled, pull requests merged in 2019-09, with the labels that each got.

#1419 infra: CMake macOS clean and gitignore
  .gitignore
  cmake/gen_hash_container.sh
Labels: A-infra, C-bug, S-ready-for-review

#1424 infra: add empty CI test setup
  tools/ci_test_setup
Labels: A-infra, C-feature, E-low, P-high, S-ready-for-review

#1421 ciri: http_destroy - double free
  ciri/api/http/http.c
Labels: C-bug, S-ready-for-review

#1425 storage: mariaDB implementations
  WORKSPACE
  ciri/api/tests/test_check_consistency.c
  ciri/consensus/ledger_validator/tests/test_ledger_validator.c
  ciri/consensus/milestone/milestone_tracker.c
  ciri/consensus/snapshot/local_snapshots/local_snapshots_manager.c
  ciri/consensus/snapshot/local_snapshots/local_snapshots_manager.h
  ciri/consensus/tangle/tangle.c
  ciri/consensus/tangle/tangle.h
  ciri/consensus/test_utils/BUILD
  ciri/consensus/test_utils/spent_addresses.c
  ciri/consensus/test_utils/tangle.c
  ciri/consensus/tip_selection/exit_probability_randomizer/tests/test_exit_probability_randomizer.c
  ciri/consensus/tip_selection/exit_probability_validator/tests/exit_probability_validator.c
  ciri/consensus/transaction_solidifier/transaction_solidifier.c
  ciri/main.c
  common/errors.h
  common/model/milestone.h
  common/storage/BUILD
  common/storage/sql/mariadb/BUILD
  common/storage/sql/mariadb/connection.c
  common/storage/sql/mariadb/setup.sql
  common/storage/sql/mariadb/spent-addresses-schema.sql
  common/storage/sql/mariadb/storage.c
  common/storage/sql/mariadb/tangle-schema.sql
  common/storage/sql/mariadb/test_utils.c
  common/storage/sql/mariadb/wrappers.c
  common/storage/sql/mariadb/wrappers.h
  common/storage/sql/sqlite3/BUILD
  common/storage/sql/sqlite3/connection.c
  common/storage/sql/sqlite3/storage.c
  common/storage/sql/sqlite3/test_utils.c
  common/storage/sql/statements.c
  common/storage/sql/statements.h
  common/storage/storage.h
  common/storage/test_utils.h
  common/storage/tests/BUILD
  common/storage/tests/defs.h
  common/storage/tests/test_storage.c
  tools/ci_test_setup
Labels: A-common, C-feature, S-ready-for-review

#1426 ciri: bump version to 0.0.1-alpha
  ciri/conf.bzl
Labels: A-ciri, C-enhancement, S-ready-for-review

#1427 ciri: update readme
  ciri/README.md
Labels: A-ciri, C-enhancement, S-ready-for-review

#1412 Pcurl improvements
  CMakeLists.txt
  ciri/node/pipeline/hasher.c
  common/crypto/curl-p/BUILD
  common/crypto/curl-p/README.md
  common/crypto/curl-p/hamming.c
  common/crypto/curl-p/hamming.h
  common/crypto/curl-p/hashcash.c
  common/crypto/curl-p/hashcash.h
  common/crypto/curl-p/pearl_diver.c
  common/crypto/curl-p/ptrit.c
  common/crypto/curl-p/ptrit.h
  common/crypto/curl-p/search.h
  common/crypto/curl-p/tests/BUILD
  common/crypto/curl-p/tests/test_cpu_hashcash.c
  common/crypto/curl-p/tests/test_curlp_ptrit.c
  common/trinary/BUILD
  common/trinary/ptrit.c
  common/trinary/ptrit.h
  common/trinary/ptrit_incr.c
  common/trinary/ptrit_incr.h
  common/trinary/tests/BUILD
  common/trinary/tests/test_ptrits.c
  common/trinary/tests/test_trit_ptrit.c
  common/trinary/trit_ptrit.c
  common/trinary/trit_ptrit.h
Labels: A-common, C-enhancement, E-medium, P-medium, S-ready-for-review

#1431 ciri: differentiate and rename mainnet/testnet local snapshot files
  ciri/consensus/snapshot/local_snapshots/local_snapshots_manager.c
  ciri/consensus/snapshot/snapshot.c
Labels: S-ready-for-review

#1433 ciri: add local snapshots options to readme and conf
  ciri/README.md
  ciri/conf.example.yml
  ciri/usage.h
Labels: S-ready-for-review

#1434 common: remove deprecated flex_trit_t arrays
  CMakeLists.txt
  ciri/consensus/bundle_validator/bundle_validator.h
  ciri/consensus/snapshot/BUILD
  ciri/consensus/snapshot/snapshot.h
  ciri/consensus/tangle/BUILD
  ciri/consensus/tip_selection/BUILD
  ciri/consensus/tip_selection/cw_rating_calculator/BUILD
  ciri/consensus/tip_selection/exit_probability_validator/BUILD
  ciri/consensus/tip_selection/tip_selector.h
  common/helpers/BUILD
  common/storage/BUILD
  common/storage/pack.c
  common/storage/sql/statements.c
  common/trinary/BUILD
  common/trinary/flex_trit_array.cc
  common/trinary/flex_trit_array.h
  common/trinary/tests/BUILD
  common/trinary/tests/test_flex_trit_array.cc
  common/trinary/tests/test_trit_array.c
  common/trinary/trit_array.c
  common/trinary/trit_array.h
Labels: A-common, C-cleanup, S-ready-for-review
