Repository iotaledger/entangled, pull requests merged in 2019-11, with the labels that each got.

#1453 utils/bundle_miner: mining_threshold and fix calculation
  utils/bundle_miner.c
  utils/bundle_miner.h
  utils/tests/test_bundle_miner.c
Labels: A-utils, C-bug, C-enhancement

#1454 Infra: update toolchain for Bazel v1.1.0
  WORKSPACE
Labels: A-infra, S-ready-for-review

#1448 Implement bundle_transactions_t object renew function
  common/model/bundle.h
  mam/api/tests/test_api.c
  mam/examples/send-header.c
Labels: A-common, A-mam, C-enhancement
