Repository iotaledger/entangled, pull requests merged in 2019-05, with the labels that each got.

#1150 http: fix tangle destroy segmentation fault
  ciri/api/http/http.c
Labels: A-api, C-bug, S-ready-for-review

#1152 mam: add doxygen group
  mam/api/api.h
  mam/defs.h
  mam/doxy.txt
  mam/mam/channel.h
  mam/mam/endpoint.h
  mam/mam/message.h
  mam/mss/mss.h
  mam/ntru/ntru.h
  mam/ntru/ntru_types.h
  mam/ntru/poly.h
  mam/ntru/poly_param.h
  mam/pb3/pb3.h
  mam/prng/prng.h
  mam/psk/psk.h
  mam/sponge/sponge.h
  mam/sponge/spongos.h
  mam/sponge/spongos_types.h
  mam/trits/buffers.h
  mam/trits/trits.h
  mam/troika/troika.h
  mam/wots/wots.h
Labels: A-mam, C-documentation, S-ready-for-review

#1156 mobile/android: Build with -ldl flag to prevent crash on Android 5.0/5.1
  mobile/android/BUILD
Labels: A-infra, C-bug, E-medium, P-high

#1159 infra: fix boost cross boundary compilation issue
  WORKSPACE
Labels: A-infra, C-bug, S-ready-for-review

#1155 mam: WOTS clean, optimizations and documentation
  common/errors.h
  mam/mam/BUILD
  mam/mam/message.c
  mam/mss/mss.c
  mam/mss/mss.h
  mam/mss/tests/test_mss.c
  mam/prng/prng.c
  mam/prng/prng.h
  mam/wots/BUILD
  mam/wots/tests/test_wots.c
  mam/wots/wots.c
  mam/wots/wots.h
Labels: A-mam, C-cleanup, S-ready-for-review

#1161 mam: PRNG clean and documentation
  mam/api/api.c
  mam/api/tests/test_api.c
  mam/mam/tests/test_channel.c
  mam/mam/tests/test_endpoint.c
  mam/mam/tests/test_message.c
  mam/mss/tests/test_mss.c
  mam/ntru/tests/test_ntru.c
  mam/prng/BUILD
  mam/prng/prng.c
  mam/prng/prng.h
  mam/prng/tests/BUILD
  mam/prng/tests/test_prng.c
  mam/wots/tests/test_wots.c
Labels: A-mam, C-cleanup, S-ready-for-review

#1149 Doc: JSON serialization
  cclient/serialization/json/add_neighbors.h
  cclient/serialization/json/attach_to_tangle.h
  cclient/serialization/json/broadcast_transactions.h
  cclient/serialization/json/check_consistency.h
  cclient/serialization/json/error.h
  cclient/serialization/json/find_transactions.h
  cclient/serialization/json/get_balances.h
  cclient/serialization/json/get_inclusion_states.h
  cclient/serialization/json/get_missing_transactions.h
  cclient/serialization/json/get_neighbors.h
  cclient/serialization/json/get_node_info.h
  cclient/serialization/json/get_tips.h
  cclient/serialization/json/get_transactions_to_approve.h
  cclient/serialization/json/get_trytes.h
  cclient/serialization/json/helpers.c
  cclient/serialization/json/helpers.h
  cclient/serialization/json/json_serializer.h
  cclient/serialization/json/logger.h
  cclient/serialization/json/remove_neighbors.h
  cclient/serialization/json/store_transactions.h
Labels: A-cclient, C-documentation, S-ready-for-review

#1177 cclient: fix warnings
  cclient/api/extended/get_account_data.c
  cclient/response/get_balances.c
  cclient/response/get_balances.h
  cclient/response/get_inclusion_states.c
  cclient/response/get_inclusion_states.h
  cclient/response/get_neighbors.c
  cclient/response/get_neighbors.h
  cclient/response/get_transactions_to_approve.h
  cclient/serialization/json/helpers.c
Labels: A-cclient, C-cleanup, S-ready-for-review

#1176 gossip: fix random tip request condition
  gossip/components/responder.c
Labels: A-gossip, C-bug, S-ready-for-review

#1172 infra: fix static analysis check
  cclient/api/extended/get_account_data.c
  ciri/conf.c
  common/helpers/tests/BUILD
  common/helpers/tests/test_checksum.c
  common/helpers/tests/test_digest.c
  common/helpers/tests/test_pow.c
  common/helpers/tests/test_sign.c
  common/model/transfer.c
Labels: A-infra, C-cleanup, S-ready-for-review

#1170 infra: fix fortify warnings
  mam/mam/tests/BUILD
  tools/bazel.rc
Labels: A-infra, C-bug, S-ready-for-review

#1174 infra: remove bazel.rc from gitignore
  .gitignore
Labels: A-infra, C-bug, S-ready-for-review

#1173 mam: PSK clean and documentation
  mam/prng/BUILD
  mam/prng/tests/BUILD
  mam/psk/BUILD
  mam/psk/psk.c
  mam/psk/psk.h
  mam/psk/tests/BUILD
  mam/psk/tests/test_psk.c
  mam/wots/tests/BUILD
Labels: A-mam, C-cleanup, S-ready-for-review

#1178 cppclient/api: Transaction - allow retrieve message (conditional)
  cppclient/api.h
  cppclient/api_json.cc
  cppclient/api_json.h
  tanglescope/tipselectioncollector.cpp
Labels: A-cppclient, C-feature-request, P-medium, S-ready-for-review

#1171 mam: remove unused trits/buffers functions
  mam/prototype/mam.c
  mam/trits/buffers.c
  mam/trits/buffers.h
  mam/trits/trits.c
  mam/trits/trits.h
Labels: A-mam, C-cleanup, S-ready-for-review

#1167 common: clean retcode_t
  cclient/api/core/add_neighbors.c
  cclient/api/core/attach_to_tangle.c
  cclient/api/core/broadcast_transactions.c
  cclient/api/core/check_consistency.c
  cclient/api/core/find_transactions.c
  cclient/api/core/get_balances.c
  cclient/api/core/get_inclusion_states.c
  cclient/api/core/get_neighbors.c
  cclient/api/core/get_node_info.c
  cclient/api/core/get_tips.c
  cclient/api/core/get_transactions_to_approve.c
  cclient/api/core/get_trytes.c
  cclient/api/core/remove_neighbors.c
  cclient/api/core/store_transactions.c
  cclient/api/extended/broadcast_bundle.c
  cclient/api/extended/find_transaction_objects.c
  cclient/api/extended/get_account_data.c
  cclient/api/extended/get_inputs.c
  cclient/api/extended/get_latest_inclusion.c
  cclient/api/extended/get_new_address.c
  cclient/api/extended/get_transaction_objects.c
  cclient/api/extended/promote_transaction.c
  cclient/api/extended/replay_bundle.c
  cclient/api/extended/send_transfer.c
  cclient/api/extended/send_trytes.c
  cclient/api/extended/traverse_bundle.c
  cclient/response/get_neighbors.c
  cclient/serialization/json/get_neighbors.c
  cclient/types/types.c
  ciri/conf.c
  ciri/core.c
  common/errors.c
  common/errors.h
  consensus/cw_rating_calculator/cw_rating_calculator.c
  consensus/cw_rating_calculator/cw_rating_dfs_impl.c
  consensus/exit_probability_randomizer/exit_prob_map.c
  consensus/exit_probability_randomizer/exit_probability_randomizer.c
  consensus/exit_probability_randomizer/global_calcs.c
  consensus/exit_probability_randomizer/walker.c
  consensus/transaction_solidifier/transaction_solidifier.c
  gossip/components/broadcaster.c
  gossip/components/tips_solidifier.c
  gossip/neighbor.c
  gossip/node.c
Labels: A-common, C-cleanup, S-ready-for-review

#1179 utils: fix file leaks
  utils/BUILD
  utils/files.c
Labels: A-utils, C-cleanup, S-ready-for-review

#1185 cclient: fix potential double free on send trytes
  cclient/api/extended/send_trytes.c
Labels: A-cclient, C-bug, S-ready-for-review

#1187 cclient: set result var in attach to tangle
  cclient/api/core/attach_to_tangle.c
Labels: A-cclient, C-bug, S-ready-for-review

#1188 mam: refactor MSS tests
  mam/mss/mss.c
  mam/mss/tests/test_mss.c
Labels: A-mam, C-cleanup, S-ready-for-review

#1186 mam: fix warnings
  mam/api/api.c
  mam/api/tests/test_api.c
  mam/mam/message.c
  mam/mss/mss.c
  mam/mss/mss.h
Labels: A-mam, C-cleanup, S-ready-for-review

#1190 infra: add googletest cfg for cppcheck
  tools/cppcheck/googletest.cfg
Labels: A-infra, C-feature, S-ready-for-review

#1182 common: transfer refactoring.
  cclient/api/BUILD
  cclient/api/extended/prepare_transfers.c
  cclient/api/extended/prepare_transfers.h
  cclient/api/extended/send_transfer.c
  cclient/api/extended/send_transfer.h
  common/error_strings.h
  common/errors.c
  common/errors.h
  common/model/BUILD
  common/model/bundle.c
  common/model/bundle.h
  common/model/inputs.h
  common/model/tests/BUILD
  common/model/tests/test_transfer.c
  common/model/transaction.c
  common/model/transfer.c
  common/model/transfer.h
Labels: A-cclient, A-common, C-enhancement, S-ready-for-review

#1191 infra: update toolchains
  .bazelrc
  WORKSPACE
  tools/toolchains.rc
Labels: A-infra, C-enhancement, S-ready-for-review

#1194 consensus: rename local snapshot metadata file extension
  consensus/snapshot/snapshot.c
Labels: A-consensus, C-cleanup, S-ready-for-review

#1189 mam: split MSS into classic and traversal
  mam/mss/BUILD
  mam/mss/mss.h
  mam/mss/mss_classic.c
  mam/mss/mss_classic.h
  mam/mss/mss_common.c
  mam/mss/mss_common.h
  mam/mss/mss_traversal.c
  mam/mss/mss_traversal.h
Labels: A-mam, C-cleanup, S-ready-for-review

#1195 infra: add CI buildifier check script
  hooks/scripts/buildifier_check
  tools/ci_buildifier_check
  tools/ci_format_check
Labels: A-infra, C-feature, S-ready-for-review

#1200 mam: make ch/ep getters private
  mam/api/api.c
  mam/api/api.h
Labels: A-mam, C-cleanup, S-ready-for-review

#1198 mam: remove message type id from UX
  mam/api/api.c
  mam/api/api.h
  mam/api/tests/test_api.c
  mam/examples/send-common.c
  mam/examples/send-header.c
  mam/mam/message.c
  mam/mam/message.h
  mam/mam/tests/test_message.c
Labels: A-mam, C-cleanup, S-ready-for-review

#1203 Cclient: bugs fix and transfer API enhancement.
  cclient/api/extended/is_promotable.c
  cclient/api/extended/prepare_transfers.c
  common/model/bundle.c
  common/model/tests/BUILD
  common/model/tests/test_bundle.c
  common/model/tests/test_transfer.c
  common/model/transfer.c
  common/model/transfer.h
Labels: A-cclient, C-cleanup, C-enhancement, S-ready-for-review

#1204 mam: remove trits_t from API UX
  mam/api/api.c
  mam/api/api.h
  mam/api/tests/test_api.c
Labels: A-api, C-cleanup, S-ready-for-review

#1206 cclient: adding missing parameter in iota_client_replay_bundle.
  cclient/api/extended/replay_bundle.c
  cclient/api/extended/replay_bundle.h
Labels: A-cclient, C-enhancement, S-ready-for-review

#1211 CClient: moving char_buffer_t to utils
  cclient/request/BUILD
  cclient/request/add_neighbors.h
  cclient/request/attach_to_tangle.h
  cclient/request/broadcast_transactions.h
  cclient/request/check_consistency.c
  cclient/request/check_consistency.h
  cclient/request/find_transactions.c
  cclient/request/find_transactions.h
  cclient/request/get_balances.c
  cclient/request/get_balances.h
  cclient/request/get_inclusion_states.c
  cclient/request/get_inclusion_states.h
  cclient/request/get_transactions_to_approve.c
  cclient/request/get_transactions_to_approve.h
  cclient/request/get_trytes.c
  cclient/request/get_trytes.h
  cclient/request/remove_neighbors.h
  cclient/request/store_transactions.h
  cclient/response/BUILD
  cclient/response/add_neighbors.c
  cclient/response/add_neighbors.h
  cclient/response/attach_to_tangle.h
  cclient/response/check_consistency.h
  cclient/response/error.h
  cclient/response/find_transactions.c
  cclient/response/find_transactions.h
  cclient/response/get_balances.c
  cclient/response/get_balances.h
  cclient/response/get_inclusion_states.h
  cclient/response/get_missing_transactions.c
  cclient/response/get_missing_transactions.h
  cclient/response/get_neighbors.h
  cclient/response/get_node_info.h
  cclient/response/get_tips.c
  cclient/response/get_tips.h
  cclient/response/get_transactions_to_approve.c
  cclient/response/get_transactions_to_approve.h
  cclient/response/get_trytes.c
  cclient/response/get_trytes.h
  cclient/response/remove_neighbors.c
  cclient/response/remove_neighbors.h
  cclient/serialization/BUILD
  cclient/serialization/json/helpers.h
  cclient/service.c
  cclient/types/BUILD
  cclient/types/types.h
  ciri/api/http/http.c
  utils/BUILD
  utils/char_buffer.c
  utils/char_buffer.h
Labels: A-cclient, C-cleanup, S-ready-for-review

#1216 infra: add usual warning flags
  tools/bazel.rc
Labels: A-infra, C-enhancement, S-ready-for-review

#1233 common: fix warnings
  common/crypto/curl-p/hashcash.c
  common/crypto/curl-p/hashcash.h
  common/crypto/curl-p/tests/test_cpu_hashcash.c
  common/crypto/curl-p/tests/test_curlp_ptrit.c
  common/crypto/ftroika/ftroika.c
  common/crypto/ftroika/ftroika.h
  common/crypto/ftroika/tests/test_ftroika.c
  common/crypto/iss/v1/iss.c
  common/crypto/iss/v1/iss.c.inc
  common/helpers/pow.c
  common/model/bundle.c
  common/model/transaction.h
  common/storage/pack.c
  common/storage/sql/sqlite3/storage.c
  common/storage/sql/sqlite3/tests/test_sqlite3.c
  common/trinary/tests/test_trit_byte.c
  common/trinary/tests/test_trit_ptrit.c
  common/trinary/tryte_ascii.c
  consensus/snapshot/local_snapshots/conf.c
  consensus/snapshot/state_delta.c
  utils/files.c
  utils/macros.h
Labels: A-common, C-cleanup, S-ready-for-review

#1218 mam: clean trits def macro
  mam/api/api.c
  mam/api/tests/test_api.c
  mam/mam/channel.c
  mam/mam/endpoint.c
  mam/mam/message.c
  mam/mam/tests/test_channel.c
  mam/mam/tests/test_channel_utils.c
  mam/mam/tests/test_endpoint.c
  mam/mam/tests/test_message.c
  mam/mss/mss_common.c
  mam/mss/tests/test_mss.c
  mam/ntru/ntru.c
  mam/ntru/tests/test_ntru.c
  mam/ntru/tests/test_poly.c
  mam/pb3/tests/test_pb3.c
  mam/prng/tests/test_prng.c
  mam/psk/psk.c
  mam/sponge/tests/test_sponge.c
  mam/sponge/tests/test_spongos.c
  mam/trits/tests/test_trits.c
  mam/trits/trits.h
  mam/wots/tests/test_wots.c
Labels: A-mam, C-cleanup, S-ready-for-review

#1219 mam: mss serialization consistency
  mam/mam/channel.c
  mam/mam/endpoint.c
  mam/mss/mss_classic.c
  mam/mss/mss_common.c
  mam/mss/mss_common.h
  mam/mss/mss_traversal.c
  mam/mss/tests/test_mss.c
Labels: A-mam, C-cleanup, S-ready-for-review

#1239 infra: explicit tests timeout
  cclient/http/tests/BUILD
  cclient/serialization/json/tests/BUILD
  ciri/api/tests/BUILD
  common/crypto/curl-p/tests/BUILD
  common/crypto/ftroika/tests/BUILD
  common/crypto/iss/v1/tests/BUILD
  common/crypto/iss/v2/tests/BUILD
  common/crypto/kerl/tests/BUILD
  common/crypto/sponge/tests/BUILD
  common/model/tests/BUILD
  common/storage/sql/sqlite3/tests/BUILD
  common/trinary/tests/BUILD
  consensus/bundle_validator/tests/BUILD
  consensus/entry_point_selector/tests/BUILD
  consensus/exit_probability_randomizer/tests/BUILD
  consensus/exit_probability_validator/tests/BUILD
  consensus/milestone/tests/BUILD
  consensus/snapshot/tests/BUILD
  consensus/tangle/tests/BUILD
  cppclient/BUILD
  gossip/tests/BUILD
  mam/ntru/tests/BUILD
  mam/pb3/tests/BUILD
  mam/prng/tests/BUILD
  mam/prototype/tests/BUILD
  mam/psk/tests/BUILD
  mam/sponge/tests/BUILD
  mam/trits/tests/BUILD
  mam/troika/tests/BUILD
  mam/wots/tests/BUILD
  tanglescope/common/BUILD
  tanglescope/statscollector/BUILD
  utils/containers/hash/tests/BUILD
  utils/containers/lists/test/BUILD
  utils/containers/queues/test/BUILD
  utils/containers/tests/BUILD
  utils/tests/BUILD
Labels: A-infra, C-cleanup, S-ready-for-review

#1238 mobile: fix warnings
  WORKSPACE
  mobile/android/Interface.cpp
  mobile/android/Interface.h
  mobile/ios/Interface.mm
Labels: A-mobile, C-cleanup, S-ready-for-review
