Repository iotaledger/entangled, pull requests merged in 2019-12, with the labels that each got.

#1460 common: test and fix flex pow
  common/helpers/tests/test_pow.c
  common/trinary/flex_trit.c
Labels: A-common, C-bug, P-critical

#1458 CClient: update example_node_info.
  cclient/api/examples/example_node_info.c
  cclient/api/tests/test_get_node_info.c
  cclient/response/get_node_info.h
Labels: A-cclient, S-ready-for-review

#1462 utils: fix inconsistent return type of system_cpu_available
  common/helpers/pow.c
  mam/prototype/mam.c
  utils/system.c
Labels: A-utils, C-bug, P-high

#1463 mobile: always link libraries on android builds
  mobile/android/BUILD
Labels: A-mobile, C-bug, E-low, P-high

#1464 utils/bundle_miner: use mining threshold as a power of 3
  utils/bundle_miner.c
Labels: A-utils, S-ready-for-review
