Repository iotaledger/entangled, pull requests merged in 2019-08, with the labels that each got.

#1392 CIRI: fixing libmicrohttpd on ARM toolchain.
  WORKSPACE
Labels: A-ciri, C-bug, P-high, S-ready-for-review

#1398 ciri: fix warnings
  ciri/consensus/snapshot/local_snapshots/pruning_service.c
  ciri/consensus/snapshot/snapshot_metadata.c
  ciri/consensus/spent_addresses/spent_addresses_service.c
  ciri/consensus/spent_addresses/spent_addresses_service.h
Labels: A-ciri, C-cleanup, S-ready-for-review

#1396 CClient: fixing ESP32 platform issues.
  cclient/api/core/attach_to_tangle.c
  cclient/api/core/attach_to_tangle.h
  cclient/serialization/json/helpers.c
  common/error_strings.h
  common/errors.c
  common/errors.h
  common/model/transfer.c
Labels: A-cclient, C-bug, S-ready-for-review

#1402 Cppclient ssl
  .bazelignore
  WORKSPACE
  ciri/consensus/tip_selection/exit_probability_randomizer/tests/BUILD
  cppclient/BUILD
  cppclient/api.h
  cppclient/api_json.cc
  cppclient/beast.cc
  cppclient/beast.h
  cppclient/tests/api_json.cc
  cppclient/tests/beast.cc
  tanglescope/broadcastrecievecollecter.cpp
  tanglescope/tipselectioncollector.cpp
  tools/bazel.rc
Labels: A-cppclient, C-enhancement, C-feature, S-ready-for-review

#1410 CClient: CMake scripts support.
  CMakeLists.txt
  cclient/CMakeLists.txt
  cmake/cjson.cmake
  cmake/embear_logger.cmake
  cmake/gen_hash_container.sh
  cmake/http_parser.cmake
  cmake/keccak.cmake
  cmake/mbedtls.cmake
  cmake/rpi_toolchain.cmake
  cmake/unity.cmake
  cmake/uthash.cmake
Labels: A-cclient, C-feature, S-ready-for-review
